<div class="container-fluid">
  <div class="page-header">
    <h1>Tjänsteproducent: Anslut till tjänstekontrakt
    </h1>
    <p>Här ansluter du en tjänsteproducent till ett tjänstekontrakt som är installerat i Regional tjänsteplattform.
      För att få anslutning att fungera behöver tjänsteproducenten ha installerat SITHS funktionscertifikat.
      Om du inte redan har certifikat, kan du läsa mer om certifikat <a href="http://www.inera.se/siths" target="_blank">här</a>.
      Ofta behövs även brandväggsöppning/ar hos producenten.</p>
    <p>RTP-förvaltningen konfigurerar upp angiven producent i enlighet med beställning och RTP-förvaltningen genomför åtkomsttester.</p>
  </div>

  <!-- välj driftmiljö panel -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Välj miljö</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="environment">Miljö</label>
          <select id="environment" class="form-control" ng-model="order.driftmiljo" ng-change="driftmiljoSelected()" ng-options="environment.namn for environment in targetEnvironments">
            <option value="">Välj miljö</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- / välj driftmiljö panel -->
  <!-- välj tjänsteproducent panel -->
  <div class="panel panel-primary" ng-show="order.driftmiljo.id">
    <div class="panel-heading">
      <h3 class="panel-title">Välj tjänsteproducent</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="form-group">
              <ui-select ng-model="$parent.selectedTjansteproducent" theme="bootstrap" reset-search-input="false">
                <ui-select-match placeholder="Sök befintlig tjänsteproducent"><span ng-if="$select.selected.beskrivning">{{$select.selected.beskrivning}} - </span>{{$select.selected.hsaId}}</ui-select-match>
                <ui-select-choices
                  repeat="tjanstekomponent in filteredTjansteproducenter | filter: $select.search"
                  refresh="filterTjansteproducenter($select.search)"
                  refresh-delay="200"
                  >
                  <div ng-bind-html="((tjanstekomponent.beskrivning ? tjanstekomponent.beskrivning + ' - ' : '') + tjanstekomponent.hsaId) | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

          </div>
        </div>
      </div>
      <div ng-show="order.producentbestallning.tjanstekomponent.hsaId">
        <div class="row">
          <div class="col-md-3">
            <div class="row">
              <h4>Huvudansvarig</h4>
            </div>
            <div class="row" ng-show="order.producentbestallning.tjanstekomponent.huvudansvarigKontakt">
              <dl>
                <dd>{{order.producentbestallning.tjanstekomponent.huvudansvarigKontakt.namn}}</dd>
                <dd>{{order.producentbestallning.tjanstekomponent.huvudansvarigKontakt.epost}}</dd>
                <dd>{{order.producentbestallning.tjanstekomponent.huvudansvarigKontakt.telefon}}</dd>
              </dl>
            </div>
            <div class="row" ng-hide="order.producentbestallning.tjanstekomponent.huvudansvarigKontakt">
              <em>ingen information</em>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <h4>Teknisk kontaktperson</h4>
            </div>
            <div class="row" ng-show="order.producentbestallning.tjanstekomponent.tekniskKontakt">
              <dl>
                <dd>{{order.producentbestallning.tjanstekomponent.tekniskKontakt.namn}}</dd>
                <dd>{{order.producentbestallning.tjanstekomponent.tekniskKontakt.epost}}</dd>
                <dd>{{order.producentbestallning.tjanstekomponent.tekniskKontakt.telefon}}</dd>
              </dl>
            </div>
            <div class="row" ng-hide="order.producentbestallning.tjanstekomponent.huvudansvarigKontakt">
              <em>ingen information</em>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <h4>Teknisk support</h4>
            </div>
            <div class="row" ng-show="order.producentbestallning.tjanstekomponent.tekniskSupportKontakt">
              <dl>
                <dd>{{order.producentbestallning.tjanstekomponent.tekniskSupportKontakt.epost}}</dd>
                <dd>{{order.producentbestallning.tjanstekomponent.tekniskSupportKontakt.telefon}}</dd>
              </dl>
            </div>
            <div class="row" ng-hide="order.producentbestallning.tjanstekomponent.tekniskSupportKontakt">
              <em>ingen information</em>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <h4>Teknisk information</h4>
            </div>
            <div class="row">
              <dl>
                <dt>IP-adress</dt>
                <dd ng-show="order.producentbestallning.tjanstekomponent.ipadress">{{order.producentbestallning.tjanstekomponent.ipadress}}</dd>
                <dd ng-hide="order.producentbestallning.tjanstekomponent.ipadress">
                  <em>ingen information</em>
                </dd>
                <dt>URL till övervakningstjänst</dt>
                <dd ng-show="order.producentbestallning.tjanstekomponent.pingForConfigurationURL">{{order.producentbestallning.tjanstekomponent.pingForConfigurationURL}}</dd>
                <dd ng-hide="order.producentbestallning.tjanstekomponent.pingForConfigurationURL">
                  <em>ingen information</em>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / välj tjänsteproducent panel -->
  <!-- välj tjänstekontrakt panel -->
  <div class="panel panel-primary" ng-show="order.producentbestallning.tjanstekomponent.hsaId && order.driftmiljo.id">
    <div class="panel-heading">
      <h3 class="panel-title">Välj tjänstekontrakt att ansluta till</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="service-domain">Tjänstedomän</label>
          <select class="form-control" ng-model="selectedTjanstedoman" ng-change="tjanstedomanSelected()" ng-options="serviceDomain.tjansteDomanId for serviceDomain in serviceDomains" id="service-domain">
            <option value="">Välj tjänstedomän</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label>Tillgängliga tjänstekontrakt</label>
          <table class="table table-condensed table-bordered contract-selector">
            <thead>
              <tr>
                <th class="col-md-11">Namn</th>
                <th class="col-md-1">Version</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-hide="anslutningarIValdTjanstedoman.length">
                <td colspan="2">
                  <em>inga tillgängliga tjänstekontrakt</em>
                </td>
              </tr>
              <tr ng-repeat="anslutning in anslutningarIValdTjanstedoman"
                  ng-class="{'success': anslutning._selected, 'contract-disabled': !anslutning._finnsIDriftmiljo}"
                  ng-click="anslutning._selected = !anslutning._selected && anslutning._finnsIDriftmiljo"
                  class="contract-row">
                <td>
                  <span>{{anslutning._namn}}</span>
                  <span class="label label-default" ng-show="!anslutning._finnsIDriftmiljo">ej installerat</span>
                  <span class="label label-warning" ng-show="anslutning._finnsIDriftmiljo && !anslutning._anslutetForProducent">installerat, ej ansluten</span>
                  <span class="label label-info" ng-show="anslutning._anslutetForProducent">ansluten</span>
                  <span class="label label-success" ng-show="anslutning._paBestallning">för beställning</span>
                </td>
                <td>{{anslutning.tjanstekontraktMajorVersion}}.{{anslutning.tjanstekontraktMinorVersion}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-2">
          <button type="button" style="display: block; margin: 25px auto" class="btn btn-primary" ng-show="anslutningarIValdTjanstedoman.length" ng-click="updateValdaAnslutningar()">
            <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
          </button>
        </div>
        <div class="col-md-5">
          <label>Tjänstekontrakt för beställning</label>
          <table class="table table-condensed table-bordered contract-selector">
            <thead>
              <tr>
                <th class="col-md-1"></th>
                <th class="col-md-9">Namn</th>
                <th class="col-md-2">Version</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-hide="order.producentbestallning.producentanslutningar.length">
                <td colspan="3">
                  <em>inga tjänstekontrakt valda</em>
                </td>
              </tr>
              <tr ng-repeat="anslutning in order.producentbestallning.producentanslutningar | orderBy:'tjanstekontraktNamnrymd' | orderBy: '_namn'">
                <td class="contract-button" style="text-align: center" ng-click="removeAnslutningFromOrder(anslutning)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </td>
                <td>
                  <p style="margin-bottom: -5px">{{anslutning._namn}}</p>
                  <span>
                    <small>({{anslutning._tjanstedoman}})</small>
                  </span>
                </td>
                <td>{{anslutning.tjanstekontraktMajorVersion}}.{{anslutning.tjanstekontraktMinorVersion}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- / välj tjänstekontrakt panel -->
  <!-- konfigurera tjänstekontrakt panel -->
  <div class="panel panel-primary" ng-show="order.producentbestallning.tjanstekomponent.hsaId && order.producentbestallning.producentanslutningar.length">
    <div class="panel-heading">
      <h3 class="panel-title">Konfigurera åtkomst till producentens tjänst/er</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <p>Lägg till de logiska adresser som en konsument ska kunna adressera. Vad som används som logisk adress beror på vilken tjänstedomän beställningen gäller.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="radio" ng-class="{'disabled': !canHandleLogiskaAdresserInUnity}">
            <label>
              <input ng-model="linkLogicalAddressChoice" value="sameForAllAnslutningar" type="radio" name="linkLogicalAddressChoiceRadios" id="optionsRadios1" ng-disabled="!canHandleLogiskaAdresserInUnity">
              Lägg till samma logiska adresser för alla tjänstekontrakt
            </label>
          </div>
          <div class="radio">
            <label>
              <input ng-model="linkLogicalAddressChoice" value="individualPerAnslutning" type="radio" name="linkLogicalAddressChoiceRadios" id="optionsRadios2">
              Lägg till logiska adresser individuellt för varje tjänstekontrakt
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / konfigurera tjänstekontrakt panel -->
  <!-- samma logiska adresser panel -->
  <div class="panel panel-primary" ng-show="order.producentbestallning.tjanstekomponent && order.producentbestallning.producentanslutningar.length && linkLogicalAddressChoice === 'sameForAllAnslutningar'">
    <div class="panel-heading">
      <h3 class="panel-title">Konsument ska ha åtkomst till följande adress/er</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="row">
              <div class="form-group">
                <label>Sök efter logisk adress</label>
                <ui-select  ng-model="selectedLogicalAddress.selected" theme="bootstrap"
                            reset-search-input="true">
                  <ui-select-match placeholder="Namn - HSA ID">{{$select.selected.namn}} - {{$select.selected.hsaId}}</ui-select-match>
                  <ui-select-choices repeat="logicalAddress in filteredLogicalAddresses| filter: $select.search"
                                     refresh="filterLogicalAddresses($select.search)" refresh-delay="200">
                    <div ng-bind-html="logicalAddress.namn | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="row">
              <label>Lägg till ny logisk address</label>
              <div class="form-group">
                <input ng-model="newLogicalAddress.hsaId" type="text" class="form-control" id="newLogicalAddress_HSAID"
                       placeholder="HSA ID">
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <input ng-model="newLogicalAddress.namn" type="text" class="form-control" id="newLogicalAddress_Name"
                       placeholder="Namn">
              </div>
            </div>
          </div>

          <div class="col-md-2 col-md-offset-1">
            <div class="row">

              <div class="form-group top25">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" ng-click="addLogiskAdressToAllAnslutningar(selectedLogicalAddress.selected)">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group top45">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" ng-click="addLogiskAdressToAllAnslutningar(newLogicalAddress); newLogicalAddress = {};">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>

          </div>

          <div class="form-group col-md-5" ng-if="!order.producentbestallning.producentanslutningar[0]._anslutetForProducent">
            <label>Valda logiska adresser</label>
            <logisk-adress-alert
              logisk-adress="logiskAdress"
              type="success"
              close="removeLogiskAdressFromAllAnslutningar(logiskAdress)"
              ng-repeat="logiskAdress in nyaLogiskaAdresser = (order.producentbestallning.producentanslutningar | intersection:'nyaLogiskaAdresser')">
            </logisk-adress-alert>
            <p ng-hide="nyaLogiskaAdresser.length">
              <em>inga logiska adresser valda</em>
            </p>
          </div>
          <div class="form-group col-md-5" ng-if="order.producentbestallning.producentanslutningar[0]._anslutetForProducent">
            <label>Nyvalda logiska adresser</label>
            <logisk-adress-alert
              logisk-adress="logiskAdress"
              type="success"
              close="removeLogiskAdressFromAllAnslutningar(logiskAdress)"
              ng-repeat="logiskAdress in nyaLogiskaAdresser = (order.producentbestallning.producentanslutningar | intersection:'nyaLogiskaAdresser')">
            </logisk-adress-alert>
            <p ng-hide="nyaLogiskaAdresser.length">
              <em>inga nya logiska adresser valda</em>
            </p>
            <label>Redan anslutna logiska adresser</label>
            <logisk-adress-alert
              logisk-adress="logiskAdress"
              type="info"
              close="removeLogiskAdressFromAllAnslutningar(logiskAdress)"
              ng-repeat="logiskAdress in befintligaLogiskaAdresserAfterFilter = ((order.producentbestallning.producentanslutningar | intersection:'befintligaLogiskaAdresser') | notIn:(order.producentbestallning.producentanslutningar | intersection:'borttagnaLogiskaAdresser'):'hsaId')">
            </logisk-adress-alert>
            <p ng-hide="befintligaLogiskaAdresserAfterFilter.length">
              <em>samtliga redan anslutna logiska adresser kommer tas bort</em>
            </p>
            <label ng-show="(order.producentbestallning.producentanslutningar | intersection:'borttagnaLogiskaAdresser').length">Bortvalda redan anslutna logiska adresser</label>
            <logisk-adress-alert
              logisk-adress="logiskAdress"
              type="danger"
              close="addLogiskAdressToAllAnslutningar(logiskAdress)"
              ng-repeat="logiskAdress in borttagnaLogiskaAdresser = (order.producentbestallning.producentanslutningar | intersection:'borttagnaLogiskaAdresser')">
            </logisk-adress-alert>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / samma logiska adresser panel -->
  <!-- enskilda tjänstekontrakt panel(er) -->
  <div class="panel panel-primary"
       ng-show="order.producentbestallning.tjanstekomponent && order.producentbestallning.producentanslutningar.length"
       ng-repeat="anslutning in order.producentbestallning.producentanslutningar | orderBy:'tjanstekontraktNamnrymd' | orderBy:'_namn'">
    <div class="panel-heading">
      <h3 class="panel-title" ng-show="linkLogicalAddressChoice === 'sameForAllAnslutningar'">Välj version av RIVTA-profil och URL för {{anslutning._namn}} {{anslutning.tjanstekontraktMajorVersion}}.{{anslutning.tjanstekontraktMinorVersion}} ({{anslutning._tjanstedoman}})</h3>
      <h3 class="panel-title" ng-show="linkLogicalAddressChoice === 'individualPerAnslutning'">Välj version av RIVTA-profil, URL och åtkomst till logisk adress för konsument avseende {{anslutning._namn}} {{anslutning.tjanstekontraktMajorVersion}}.{{anslutning.tjanstekontraktMinorVersion}} ({{anslutning._tjanstedoman}})</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <form name="serviceContractForm">
            <div class="col-md-3">
              <label for="rivtaVersion">Version av RIVTA-profil</label>
              <i class="fa fa-info-circle" popover="Välj den version av RIV TA Basic Profile som kontraktet implementerar." popover-trigger="mouseenter" popover-placement="right"></i>
              <select id="rivtaVersion" class="form-control" ng-model="anslutning.rivtaProfil"
                      ng-options="rivProfile as rivProfile for rivProfile in rivProfiles | orderBy:'toString()':true"
                      ng-init="anslutning.rivtaProfil = (anslutning.rivtaProfil ? anslutning.rivtaProfil : (rivProfiles | orderBy:'toString()':true)[0])"></select>
            </div>
            <div class="form-group" show-errors>
              <div class="col-md-9">
                <label class="control-label" for="urlInput">URL</label>
                <i class="fa fa-info-circle" popover="För att konsument ska kunna nå tjänsten behöver Tjänsteplattformen ha information om den länk där producentens tjänst finns. URL:en anges här." popover-trigger="mouseenter" popover-placement="right"></i>
                <input type="url" class="form-control" id="urlInput" name="url" ng-model="anslutning.url" placeholder="skriv in url" required>
                <span class="help-block" ng-if="serviceContractForm.url.$error.required">Url måste vara ifyllt</span>
                <span class="help-block" ng-if="serviceContractForm.url.$error.url">Url är ej korrekt</span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div ng-show="linkLogicalAddressChoice === 'individualPerAnslutning'" class="row top25">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="row">
              <div class="form-group">
                <label>Sök efter logisk adress</label>
                <ui-select ng-model="$parent.selectedLogicalAddress" theme="bootstrap"
                           reset-search-input="true">
                  <ui-select-match placeholder="Namn - HSA ID">{{$select.selected.namn}} - {{$select.selected.hsaId}}</ui-select-match>
                  <ui-select-choices repeat="logicalAddress in filteredLogicalAddresses| filter: $select.search"
                                     refresh="filterLogicalAddresses($select.search)" refresh-delay="200">
                    <div ng-bind-html="logicalAddress.namn | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>

            </div>

            <div class="row">
              <label>Lägg till ny logisk address</label>
              <div class="form-group">
                <input ng-model="newLogicalAddress.hsaId" type="text" class="form-control" id="newLogicalAddress_HSAID_{{$index}}"
                       placeholder="HSA ID">
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <input ng-model="newLogicalAddress.namn" type="text" class="form-control" id="newLogicalAddress_Name_{{$index}}"
                       placeholder="Namn">
              </div>
            </div>
          </div>

          <div class="col-md-2 col-md-offset-1">
            <div class="row">
              <div class="form-group top25">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" ng-click="addLogiskAdressToAnslutning(this.selectedLogicalAddress, anslutning)">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group top45">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" ng-click="addLogiskAdressToAnslutning(newLogicalAddress, anslutning); newLogicalAddress = {};">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col-md-5" ng-if="!anslutning._anslutetForProducent">
            <label>Valda logiska adresser</label>
            <logisk-adress-alert
              logisk-adress="logiskAdress"
              type="success"
              close="removeLogiskAdressFromAnslutning(logiskAdress, anslutning)"
              ng-repeat="logiskAdress in anslutning.nyaLogiskaAdresser">
            </logisk-adress-alert>
            <p ng-hide="anslutning.nyaLogiskaAdresser.length">
              <em>inga logiska adresser valda</em>
            </p>
          </div>
          <div class="form-group col-md-5" ng-if="anslutning._anslutetForProducent">
            <label>Nyvalda logiska adresser</label>
            <logisk-adress-alert
              logisk-adress="logiskAdress"
              type="success"
              close="removeLogiskAdressFromAnslutning(logiskAdress, anslutning)"
              ng-repeat="logiskAdress in anslutning.nyaLogiskaAdresser">
            </logisk-adress-alert>
            <p ng-hide="anslutning.nyaLogiskaAdresser.length">
              <em>inga nya logiska adresser valda</em>
            </p>
            <label>Redan anslutna logiska adresser</label>
            <logisk-adress-alert
              logisk-adress="logiskAdress"
              type="info"
              close="removeLogiskAdressFromAnslutning(logiskAdress, anslutning)"
              ng-repeat="logiskAdress in befintligaLogiskaAdresserAfterFilter = (anslutning.befintligaLogiskaAdresser | notIn:anslutning.borttagnaLogiskaAdresser:'hsaId')">
            </logisk-adress-alert>
            <p ng-show="!befintligaLogiskaAdresserAfterFilter.length">
              <em ng-hide="!anslutning.borttagnaLogiskaAdresser.length">samtliga redan anslutna logiska adresser kommer tas bort</em>
              <em ng-show="!anslutning.borttagnaLogiskaAdresser.length">inga logiska adresser anslutna</em>
            </p>
            <label ng-show="anslutning.borttagnaLogiskaAdresser.length">Bortvalda redan anslutna logiska adresser</label>
            <logisk-adress-alert
              logisk-adress="logiskAdress"
              type="danger"
              close="addLogiskAdressToAnslutning(logiskAdress, anslutning);"
              ng-repeat="logiskAdress in anslutning.borttagnaLogiskaAdresser">
            </logisk-adress-alert>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- / enskilda tjänstekontrakt panel(er) -->
  <!-- anropsbehörighet panel -->
  <div class="panel panel-primary" ng-show="order.producentbestallning.tjanstekomponent && order.producentbestallning.producentanslutningar.length">
    <div class="panel-heading">
      <h3 class="panel-title">Lägg till anropsbehörighet för tjänstekonsument</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <p>För att anslutningen ska fungera mellan tjänstekonsument och tjänsteproducent måste även tjänstekonsumenten vara ansluten till tjänstekontrakten, samt ha anropsbehörighet till de logiska adresserna.
            Om tjänstekonsumenten redan är ansluten till kontrakten kan du i detta flöde även begära anropsbehörighet för tjänstekonsumenten till de logiska adresserna du angivit för respektive tjänstekontrakt.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="radio">
            <label>
              <input ng-model="callPermissionInSeparateOrder" ng-value="true" type="radio" name="callPermissionRadios"
                     id="callPermissionRadios1" ng-init="callPermissionInSeparateOrder=true">
              Anropsbehörighet kommer begäras via en konsumentanslutningsbeställning
            </label>
          </div>
          <div class="radio">
            <label>
              <input ng-model="callPermissionInSeparateOrder" ng-value="false" type="radio" name="callPermissionRadios" id="callPermissionRadios2">
              Anropsbehörighet ska begäras i samband med denna beställning
            </label>
          </div>
        </div>
      </div>


      <div class="row top25" ng-show="!callPermissionInSeparateOrder">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="row">
              <div class="form-group">
                <label>Sök efter tjänstekonsument</label>
                <ui-select ng-model="selectedTjanstekonsument.selected" theme="bootstrap" reset-search-input="false">
                  <ui-select-match placeholder="Sök tjänstekonsument"><span ng-if="$select.selected.beskrivning">{{$select.selected.beskrivning}} - </span>{{$select.selected.hsaId}}</ui-select-match>
                  <ui-select-choices
                    repeat="tjanstekomponent in filteredTjanstekonsumenter | filter: $select.search"
                    refresh="filterTjanstekonsumenter($select.search)"
                    refresh-delay="200"
                    >
                    <div ng-bind-html="((tjanstekomponent.beskrivning ? tjanstekomponent.beskrivning + ' - ' : '') + tjanstekomponent.hsaId) | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-md-offset-1">
            <div class="row">
              <div class="form-group top25">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" ng-click="addTjanstekonsumentToOrder(selectedTjanstekonsument.selected);">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col-md-5">
            <label>Valda tjänstekonsumenter</label>
            <div class="alert alert-dismissable alert-success logical-address new-logical-address" ng-repeat="konsumentbestallning in konsumentbestallningar = order.konsumentbestallningar">
              <button type="button" class="close" data-dismiss="alert" ng-click="removeTjanstekonsumentFromOrder(konsumentbestallning.tjanstekonsument)">×</button>
              <p>{{konsumentbestallning.tjanstekomponent.beskrivning}}</p>
              <p> {{konsumentbestallning.tjanstekomponent.hsaId}}</p>
            </div>
            <p ng-hide="konsumentbestallningar.length">
              <em>inga tjänstekonsumenter valda</em>
            </p>
            <p class="top25" ng-show="konsumentbestallningar.length">
              Vald tjänstekonsumenter ska få anropsbehörighet för valda tjänstekontrakt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / anropsbehörighet panel -->
  <!-- övrigt panel -->
  <div class="panel panel-primary" ng-show="order.producentbestallning.tjanstekomponent && order.producentbestallning.producentanslutningar.length">
    <div class="panel-heading">
      <h3 class="panel-title">Övrigt</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="form-group">
              <label for="ovrigInformation">Övrig information</label>
              <textarea ng-model="order.otherInfo" id="ovrigInformation" class="form-control"
                        cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / övrigt panel -->
  <!-- beställare panel -->
  <div class="panel panel-primary" ng-show="order.producentbestallning.tjanstekomponent && order.producentbestallning.producentanslutningar.length">
    <div class="panel-heading">
      <h3 class="panel-title">Beställare</h3>
    </div>
    <div class="panel-body">
      <form name="bestallareForm" role="form">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="form-group">
                <input type="button" class="btn btn-primary btn-sm" ng-click="copyPersonInChargeToClient()" value="Kopiera från huvudansvarig">
              </div>
            </div>
            <div class="row">
              <div class="form-group" show-errors>
                <label class=" control-label" for="bestallareNamnInput">För- och efternamn</label>
                <input ng-model="order.bestallare.namn"
                       type="text" class="form-control" id="bestallareNamnInput" name="bestallareNamn"
                       placeholder="" required>
                <span class="help-block" ng-if="bestallareForm.bestallareNamn.$error.required">För- och efternamn måste vara ifyllt</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" show-errors>
                <label for="bestallareEmailInput" class="control-label">E-postadress</label>
                <input ng-model="order.bestallare.epost" type="email" class="form-control"
                       id="bestallareEmailInput" name="bestallareMail" placeholder="" required>
                <span class="help-block" ng-if="bestallareForm.bestallareMail.$error.required">E-postadress måste vara ifyllt</span>
                <span class="help-block" ng-if="bestallareForm.bestallareMail.$error.email">E-postadress är ej giltig</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" show-errors>
                <label for="bestallareTelefonInput" class="control-label">Telefon</label>
                <input ng-model="order.bestallare.telefon" type="text" class="form-control"
                       id="bestallareTelefonInput" name="bestallareTelefon" placeholder="" required>
                <span class="help-block" ng-if="bestallareForm.bestallareTelefon.$error.required">Telefon måste vara ifyllt</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" show-errors>
                <label for="bestallareHsaIdInput" class="control-label">HSA-ID</label>
                <input ng-model="order.bestallare.hsaId" type="text" class="form-control"
                       id="bestallareHsaIdInput" name="bestallareHsaId" placeholder="" required>
                <span class="help-block" ng-if="bestallareForm.bestallareHsaId.$error.required">HSA-ID måste vara ifyllt</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" show-errors>
                <label for="bestallareRoll" class="control-label">Roll</label>
                <input ng-model="order.bestallareRoll" type="text" class="form-control"
                       id="bestallareRoll" name="bestallareRoll" placeholder="" required>
                <span class="help-block" ng-if="bestallareForm.bestallareRoll.$error.required">Roll måste vara ifyllt</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- / beställare panel -->
  <div class="row" ng-show="!orderValid && order.producentbestallning.tjanstekomponent && order.producentbestallning.producentanslutningar.length">
    <div class="col-md-4 col-md-offset-8">
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Det finns fel i beställningen som behöver rättas till!
      </div>
    </div>
  </div>
  <div class="row" ng-show="order.producentbestallning.tjanstekomponent && order.producentbestallning.producentanslutningar.length">
    <div class="col-md-4 col-md-offset-8">
      <button type="button" class="btn btn-primary btn-lg btn-wrap pull-right" ng-click="sendServiceProducerConnectionOrder()">Skicka</button>
    </div>
  </div>


  <!--<h3 ng-show="showDevStuff">sammanfattning:</h3>-->
  <!--<div ng-show="showDevStuff || showDevStuff === 'true'" class="jumbotron">-->
    <!--<pre>-->
<!--canHandleLogiskaAdresserInUnity = {{canHandleLogiskaAdresserInUnity}}-->

<!--order: {{order | json}}-->

<!--selectedServiceComponent: {{selectedServiceComponent | json}}-->

<!--anslutningarIValdTjanstedoman: {{anslutningarIValdTjanstedoman | json}}-->

<!--filteredServiceComponents: {{filteredServiceComponents | json}}-->
    <!--</pre>-->
  <!--</div>-->
</div>
