<div class="container-fluid">
  <div class="page-header">
    <h1>Tjänsteproducent: Hantera anslutningar till tjänstekontrakt
    </h1>
    <p>Här kan du begära ytterligare anslutning/ar genom att lägga till adresser som en konsument ska kunna nå och/eller ta bort befintlig/a anslutning/ar till tjänstekontrakt för vårdgivare/vårdenhet eller källsystem.</p>
  </div>

  <!-- välj tjänsteproducent panel -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Välj tjänsteproducent</h3>
    </div>
    <div class="panel-body">
      <!--<div class="row">-->
        <!--<div class="col-md-4">-->
          <!--<h4>Tjänsteproducent</h4>-->
        <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="form-group">
              <ui-select ng-model="selectedServiceComponent.selected" theme="bootstrap" reset-search-input="false" ng-disabled="newComponent">
                <ui-select-match placeholder="Sök befintlig tjänsteproducent">{{$select.selected.namn}} - {{$select.selected.hsaId}}</ui-select-match>
                <ui-select-choices
                  repeat="serviceComponent in filteredServiceComponents | filter: $select.search"
                  refresh="filterServiceComponents($select.search)"
                  refresh-delay="200"
                  >
                  <div ng-bind-html="(serviceComponent.namn + ' - ' + serviceComponent.hsaId) | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

          </div>
        </div>
      </div>
      <form role="form" ng-show="selectedServiceComponent.selected" name="serviceComponentForm">
        <div class="row">

          <div class="col-md-5">

            <div class="row">
              <div class="form-group" show-errors>
                <label for="organisation">Organisation</label>
                <input type="text" class="form-control" id="organisation" name="organisation" placeholder=""
                       ng-model="updateServiceProducerRequest.serviceComponent.organisation" required>
                <span class="help-block" ng-if="serviceComponentForm.organisation.$error.required">Organisation måste vara ifyllt</span>
              </div>
            </div>

            <div class="row">
              <h4>Huvudansvarig</h4>
            </div>

            <div class="row">
              <div class="form-group" show-errors>
                <label for="huvudansvarigNamn">För- och efternamn</label>
                <input type="text" class="form-control" id="huvudansvarigNamn" name="huvudansvarigNamn" placeholder=""
                       ng-model="updateServiceProducerRequest.serviceComponent.huvudAnsvarigNamn" required>
                <span class="help-block" ng-if="serviceComponentForm.huvudansvarigNamn.$error.required">För- och efternamn måste vara ifyllt</span>
              </div>
            </div>

            <div class="row">
              <div class="form-group" show-errors>
                <label for="huvudansvarigEmail">E-postadress</label>
                <input type="email" class="form-control" id="huvudansvarigEmail" name="huvudansvarigEmail" placeholder=""
                       ng-model="updateServiceProducerRequest.serviceComponent.huvudAnsvarigEpost" required>
                <span class="help-block" ng-if="serviceComponentForm.huvudansvarigEmail.$error.required">E-postadress måste vara ifyllt</span>
                <span class="help-block" ng-if="serviceComponentForm.huvudansvarigEmail.$error.email">E-postadress är ej giltig</span>
              </div>
            </div>

            <div class="row">
              <div class="form-group" show-errors>
                <label for="huvudansvarigTelefon">Telefon</label>
                <input type="text" class="form-control" id="huvudansvarigTelefon" name="huvudansvarigTelefon" placeholder=""
                       ng-model="updateServiceProducerRequest.serviceComponent.huvudAnsvarigTelefon" required>
                <span class="help-block" ng-if="serviceComponentForm.huvudansvarigTelefon.$error.required">Telefonnummer måste vara ifyllt</span>
              </div>
            </div>

            <div class="row">
              <h4>Teknisk support</h4>
            </div>

            <div class="row">
              <div class="form-group" show-errors>
                <label for="brevladaEmail">Funktionsbrevlåda</label>
                <i class="fa fa-info-circle" popover="RTP-förvaltningen använder funktionsbrevlådan för att kontakta tjänsteproducentens tekniska support." popover-trigger="mouseenter" popover-placement="right"></i>
                <input type="email" class="form-control" id="brevladaEmail" name="brevladaEmail" placeholder=""
                       ng-model="updateServiceProducerRequest.serviceComponent.funktionsBrevladaEpost" required>
                <span class="help-block" ng-if="serviceComponentForm.brevladaEmail.$error.required">E-postadress måste vara ifyllt</span>
                <span class="help-block" ng-if="serviceComponentForm.brevladaEmail.$error.email">E-postadress är ej giltig</span>
              </div>
            </div>

            <div class="row">
              <div class="form-group" show-errors>
                <label for="brevladaTelefon">Telefon</label>
                <input type="text" class="form-control" id="brevladaTelefon" name="brevladaTelefon" placeholder=""
                       ng-model="updateServiceProducerRequest.serviceComponent.funktionsBrevladaTelefon" required>
                <span class="help-block" ng-if="serviceComponentForm.brevladaTelefon.$error.required">Telefonnummer måste vara ifyllt</span>
              </div>
            </div>
          </div>

          <div class="col-md-5 col-md-offset-2">
            <div class="row">
              <h4>Teknisk kontaktperson</h4>
            </div>

            <div class="row">
              <div class="form-group">
                <input type="button" class="btn btn-primary btn-sm" ng-click="copyPersonInChargeToTekniskKontakt()" value="Kopiera från huvudansvarig">
              </div>
            </div>

            <div class="row">
              <div class="form-group" show-errors>
                <label for="kontaktNamn">För- och efternamn</label>
                <input type="text" class="form-control" id="kontaktNamn" name="kontaktNamn" placeholder=""
                       ng-model="updateServiceProducerRequest.serviceComponent.tekniskKontaktNamn" required>
                <span class="help-block" ng-if="serviceComponentForm.kontaktNamn.$error.required">För- och efternamn måste vara ifyllt</span>
              </div>
            </div>

            <div class="row">
              <div class="form-group" show-errors>
                <label for="kontaktMail">E-postadress</label>
                <input type="email" class="form-control" id="kontaktMail" name="kontaktMail" placeholder=""
                       ng-model="updateServiceProducerRequest.serviceComponent.tekniskKontaktEpost" required>
                <span class="help-block" ng-if="serviceComponentForm.kontaktMail.$error.required">E-postadress måste vara ifyllt</span>
                <span class="help-block" ng-if="serviceComponentForm.kontaktMail.$error.email">E-postadress är ej giltig</span>
              </div>
            </div>

            <div class="row">
              <div class="form-group" show-errors>
                <label for="kontaktTelefon">Telefon</label>
                <input type="text" class="form-control" id="kontaktTelefon" name="kontaktTelefon" placeholder=""
                       ng-model="updateServiceProducerRequest.serviceComponent.tekniskKontaktTelefon" required>
                <span class="help-block" ng-if="serviceComponentForm.kontaktTelefon.$error.required">Telefonnummer måste vara ifyllt</span>
              </div>
            </div>

            <div class="row">
              <h4>Teknisk information</h4>
            </div>

            <div class="row">
              <div class="form-group" show-errors>
                <label for="ipAddress">IP-adress</label>
                <i class="fa fa-info-circle" popover="RTP-förvaltningen öppnar brandvägg så att kommunikation släpps igenom från angiven IP-adress." popover-trigger="mouseenter" popover-placement="right"></i>
                <input type="text" class="form-control" id="ipAddress" name="ipAddress" placeholder=""
                       ng-model="updateServiceProducerRequest.serviceComponent.ipadress" required>
                <span class="help-block" ng-if="serviceComponentForm.ipAddress.$error.required">IP-adress måste vara ifyllt</span>
              </div>
            </div>

            <div class="row">
              <div class="form-group" show-errors>
                <label for="pingForConfiguration">URL till övervakningstjänst</label>
                <i class="fa fa-info-circle" popover="Varje publicerad RIVTA-tjänst skall ha en övervakningstjänst exponerad. Referera till tjänstekontraktbeskrivningen för itintegration:monitoring för mera information om hur detta kontrakt skall realiseras i tjänsteproducenten." popover-trigger="mouseenter" popover-placement="right"></i>
                <input type="url" class="form-control" id="pingForConfiguration" name="pingForConfiguration" placeholder=""
                       ng-model="updateServiceProducerRequest.serviceComponent.pingForConfiguration" required>
                <span class="help-block" ng-if="serviceComponentForm.pingForConfiguration.$error.required">URL måste vara ifyllt</span>
                <span class="help-block" ng-if="serviceComponentForm.pingForConfiguration.$error.url">URL är ej korrekt</span>
              </div>
            </div>
          </div>

        </div>

      </form>
    </div>
  </div>
  <!-- / välj tjänsteproducent panel -->
  <!-- välj driftmiljö panel -->
  <div class="panel panel-primary" ng-show="updateServiceProducerRequest.serviceComponent.hsaId && updateServiceProducerRequest.serviceComponent.namn">
    <div class="panel-heading">
      <h3 class="panel-title">Välj miljö</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="environment">Miljö</label>
          <select id="environment" class="form-control" ng-model="selectedTargetEnvironment" ng-change="targetEnvironmentSelected()" ng-options="environment.namn for environment in environments">
            <option value="">Välj miljö</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- / välj driftmiljö panel -->
  <!-- välj tjänstekontrakt panel -->
  <div class="panel panel-primary" ng-show="updateServiceProducerRequest.serviceComponent.hsaId && updateServiceProducerRequest.serviceComponent.namn && updateServiceProducerRequest.targetEnvironment.id">
    <div class="panel-heading">
      <h3 class="panel-title">Välj tjänstekontrakt</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="service-domain">Tjänstedomän</label>
          <select class="form-control" ng-model="selectedServiceDomain" ng-change="serviceDomainSelected()" ng-options="serviceDomain.tjansteDomanId for serviceDomain in serviceDomains" id="service-domain">
            <option value="">Välj tjänstedomän</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label>Tillgängliga tjänstekontrakt</label>
          <table class="table table-condensed table-bordered contract-selector">
            <thead>
            <tr>
              <th class="col-md-9">Namn</th>
              <th class="col-md-2">Version</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-hide="serviceContractsInSelectedDomain.length">
              <td colspan="2">
                <em>inga tillgängliga tjänstekontrakt</em>
              </td>
            </tr>
            <tr ng-repeat="serviceContract in serviceContractsInSelectedDomain"
                ng-class="{'success': serviceContract.selected, 'contract-disabled': !serviceContract.installedInEnvironment || serviceContract.installedForProducerHsaId}"
                ng-click="serviceContract.selected = !serviceContract.selected && serviceContract.installedInEnvironment && !serviceContract.installedForProducerHsaId"
                class="contract-row">
              <td>
                <span>{{serviceContract.namn}}</span>
                <span class="label label-default" ng-show="!serviceContract.installedInEnvironment">ej installerat</span>
                <span class="label label-default" ng-show="serviceContract.installedForProducerHsaId">redan ansluten</span>
                <span class="label label-success" ng-show="serviceContract.onOrder">tillagd</span>
              </td>
              <td>{{serviceContract.majorVersion}}.{{serviceContract.minorVersion}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-2">
          <button type="button" style="display: block; margin: 25px auto" class="btn btn-primary" ng-show="serviceContractsInSelectedDomain.length" ng-click="updateSelectedServiceContracts()">
            <span>Lägg till <br> markerade</span>
          </button>
        </div>
        <div class="col-md-5">
          <label>Valda tjänstekontrakt</label>
          <table class="table table-condensed table-bordered">
            <thead>
            <tr>
              <th class="col-md-1"></th>
              <th class="col-md-9">Namn</th>
              <th class="col-md-2">Version</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-hide="selectedServiceContracts.length">
              <td colspan="3">
                <em>inga tjänstekontrakt valda</em>
              </td>
            </tr>
            <tr ng-repeat="serviceContract in selectedServiceContracts | orderBy:'serviceDomainId'">
              <td class="contract-button" style="text-align: center" ng-click="removeServiceContract(serviceContract)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </td>
              <td>
                <p style="margin-bottom: -5px">{{serviceContract.namn}}</p>
                  <span>
                    <small>({{serviceContract.serviceDomainId}})</small>
                  </span>
              </td>
              <td>{{serviceContract.majorVersion}}.{{serviceContract.minorVersion}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- / välj tjänstekontrakt panel -->
  <!-- konfigurera tjänstekontrakt panel -->
  <div class="panel panel-primary" ng-show="updateServiceProducerRequest.serviceComponent && updateServiceProducerRequest.serviceContracts.length">
    <div class="panel-heading">
      <h3 class="panel-title">Konfigurera åtkomst till producentens tjänst/er</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <p>Lägg till de logiska adresser som en konsument ska kunna adressera. Vad som används som logisk adress beror på vilken tjänstedomän beställningen gäller.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="radio">
            <label>
              <input ng-model="linkLogicalAddressChoice" value="sameForAllContracts" type="radio" name="linkLogicalAddressChoiceRadios" id="optionsRadios1">
              Lägg till eller ta bort samma logiska adresser för alla tjänstekontrakt
            </label>
          </div>
          <div class="radio">
            <label>
              <input ng-model="linkLogicalAddressChoice" value="individualForContract" type="radio" name="linkLogicalAddressChoiceRadios" id="optionsRadios2">
              Lägg till eller ta bort logiska adresser individuellt för varje tjänstekontrakt
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / konfigurera tjänstekontrakt panel -->
  <!-- samma logiska adresser panel -->
  <div class="panel panel-primary" ng-show="updateServiceProducerRequest.serviceComponent && updateServiceProducerRequest.serviceContracts.length && linkLogicalAddressChoice === 'sameForAllContracts' || linkLogicalAddressChoice === 'sourceSystemBased'">
    <div class="panel-heading">
      <h3 class="panel-title">Lägg till/ta bort åtkomst till följande logiska adresser</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="row">
              <div class="form-group">
                <label>Sök efter HSA-ID</label>
                <ui-select  ng-model="selectedLogicalAddress.selected" ng-disabled="linkLogicalAddressChoice === 'sourceSystemBased'" theme="bootstrap"
                            reset-search-input="true">
                  <ui-select-match placeholder="Namn - HSA ID">{{$select.selected.namn}} - {{$select.selected.hsaId}}</ui-select-match>
                  <ui-select-choices repeat="logicalAddress in filteredLogicalAddresses| filter: $select.search"
                                     refresh="filterLogicalAddresses($select.search)" refresh-delay="200">
                    <div ng-bind-html="logicalAddress.namn | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="row">
              <label>Lägg till ny logisk address</label>
              <div class="form-group">
                <input ng-model="newLogicalAddress.hsaId" ng-disabled="linkLogicalAddressChoice === 'sourceSystemBased'" type="text" class="form-control" id="newLogicalAddress_HSAID"
                       placeholder="HSA ID">
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <input ng-model="newLogicalAddress.namn" ng-disabled="linkLogicalAddressChoice === 'sourceSystemBased'" type="text" class="form-control" id="newLogicalAddress_Name"
                       placeholder="Namn">
              </div>
            </div>
          </div>

          <div class="col-md-2 col-md-offset-1">
            <div class="row">

              <div class="form-group top25">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" ng-click="addLogicalAddressToAllServiceContracts(selectedLogicalAddress.selected)" ng-disabled="linkLogicalAddressChoice === 'sourceSystemBased'">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group top45">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" ng-click="addLogicalAddressToAllServiceContracts(newLogicalAddress); newLogicalAddress = {};" ng-disabled="linkLogicalAddressChoice === 'sourceSystemBased'">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-5">
            <label>Nyvalda logiska adresser</label>
            <div class="alert alert-dismissable alert-success logical-address new-logical-address" ng-repeat="logicalAddress in newLogicalAddresses = (logicalAddressesIntersection('newLogicalAddresses') | filter:{existing: '!true'})"> <!-- existing will be true or undefined, this will catch undefined -->
              <button type="button" class="close" data-dismiss="alert" ng-click="removeLogicalAddressFromAllServiceContracts(logicalAddress)" ng-hide="linkLogicalAddressChoice === 'sourceSystemBased'">×</button>
              {{logicalAddress.namn}}
            </div>
            <p ng-hide="newLogicalAddresses.length">
              <em>inga nya logiska adresser valda</em>
            </p>
            <label>Tidigare valda logiska adresser</label>
            <div class="alert alert-dismissable alert-info logical-address new-logical-address" ng-repeat="logicalAddress in preExistingLogicalAddresses = (logicalAddressesIntersection('logicalAddresses') | filter:{existing: true})">
              <button type="button" class="close" data-dismiss="alert" ng-click="removeLogicalAddressFromAllServiceContracts(logicalAddress)" ng-hide="linkLogicalAddressChoice === 'sourceSystemBased'">×</button>
              {{logicalAddress.namn}}
            </div>
            <p ng-hide="preExistingLogicalAddresses.length">
              <em>samtliga tidigare valda logiska adresser är bortvalda</em>
            </p>
            <label ng-show="removedLogicalAddressesForAllContracts.length">Bortvalda logiska adresser</label>
            <div class="alert alert-dismissable alert-danger logical-address new-logical-address" ng-repeat="logicalAddress in logicalAddressesIntersection('removedLogicalAddresses')">
              {{logicalAddress.namn}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / samma logiska adresser panel -->
  <!-- enskilda tjänstekontrakt panel(er) -->
  <div class="panel panel-primary"
       ng-show="updateServiceProducerRequest.serviceComponent && updateServiceProducerRequest.serviceContracts.length"
       ng-repeat="contract in updateServiceProducerRequest.serviceContracts">
    <div class="panel-heading">
      <h3 class="panel-title" ng-show="linkLogicalAddressChoice === 'sameForAllContracts'">Välj version av RIVTA-profil och URL för {{contract.namn}} {{contract.majorVersion}}.{{contract.minorVersion}} ({{contract.serviceDomainId}})</h3>
      <h3 class="panel-title" ng-show="linkLogicalAddressChoice === 'individualForContract'">Välj version av RIVTA-profil, URL och logiska adresser för {{contract.namn}} {{contract.majorVersion}}.{{contract.minorVersion}} ({{contract.serviceDomainId}})</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <form name="serviceContractForm">
            <div class="col-md-3">
              <label for="rivtaVersion">Version av RIVTA-profil</label>
              <i class="fa fa-info-circle" popover="Välj den version av RIV TA Basic Profile som kontraktet implementerar." popover-trigger="mouseenter" popover-placement="right"></i>
              <select id="rivtaVersion" class="form-control" ng-model="contract.address.rivProfil"
                      ng-options="rivProfile as rivProfile for rivProfile in rivProfiles | orderBy:'toString()':true"
                      ng-init="contract.address.rivProfil = (rivProfiles | orderBy:'toString()':true)[0]"></select>
            </div>
            <div class="form-group" show-errors>
              <div class="col-md-9">
                <label for="url">URL</label>
                <i class="fa fa-info-circle" popover="För att konsument ska kunna nå tjänsten behöver Tjänsteplattformen ha information om den länk där producentens tjänst finns. URL:en anges här." popover-trigger="mouseenter" popover-placement="right"></i>
                <input type="url" class="form-control" id="url" name="url" ng-model="contract.address.url" placeholder="skriv in url" required>
                <span class="help-block" ng-if="serviceContractForm.url.$error.required">Url måste vara ifyllt</span>
                <span class="help-block" ng-if="serviceContractForm.url.$error.url">Url är ej korrekt</span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div ng-show="linkLogicalAddressChoice === 'individualForContract'" class="row individual-logical-address-choices">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="row">
              <div class="form-group">
                <label>Sök efter HSA-ID</label>
                <ui-select ng-model="$parent.selectedLogicalAddress" theme="bootstrap"
                           reset-search-input="true">
                  <ui-select-match placeholder="Namn - HSA ID">{{$select.selected.namn}} - {{$select.selected.hsaId}}</ui-select-match>
                  <ui-select-choices repeat="logicalAddress in filteredLogicalAddresses| filter: $select.search"
                                     refresh="filterLogicalAddresses($select.search)" refresh-delay="200">
                    <div ng-bind-html="logicalAddress.namn | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>

            </div>

            <div class="row">
              <label>Lägg till ny logisk address</label>
              <div class="form-group">
                <input ng-model="newLogicalAddress.hsaId" type="text" class="form-control" id="newLogicalAddress_HSAID_{{$index}}"
                       placeholder="HSA ID">
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <input ng-model="newLogicalAddress.namn" type="text" class="form-control" id="newLogicalAddress_Name_{{$index}}"
                       placeholder="Namn">
              </div>
            </div>
          </div>
          <div class="col-md-2 col-md-offset-1">
            <div class="row">
              <div class="form-group top25">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" ng-click="addLogicalAddressToServiceContract(this.selectedLogicalAddress, contract)">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group top45">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" ng-click="addLogicalAddressToServiceContract(newLogicalAddress, contract); newLogicalAddress = {};">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-5">
            <label>Nyvalda logiska adresser</label>
            <div class="alert alert-dismissable alert-success logical-address new-logical-address" ng-repeat="logicalAddress in contract.newLogicalAddresses">
              <button type="button" class="close" data-dismiss="alert" ng-click="removeLogicalAddressFromServiceContract(logicalAddress, contract)">×</button>
              {{logicalAddress.namn}}
            </div>
            <p ng-hide="contract.newLogicalAddresses.length">
              <em>inga nya logiska adresser valda</em>
            </p>
            <label>Tidigare valda logiska adresser</label>
            <div class="alert alert-dismissable alert-info logical-address new-logical-address" ng-repeat="logicalAddress in existingLogicalAddressesAfterFilter = (contract.logicalAddresses | filter:logicalAddressNotIn(contract.removedLogicalAddresses))">
              <button type="button" class="close" data-dismiss="alert" ng-click="removeLogicalAddressFromServiceContract(logicalAddress, contract)">×</button>
              {{logicalAddress.namn}}
            </div>
            <p ng-hide="existingLogicalAddressesAfterFilter.length">
              <em>samtliga tidigare valda logiska adresser är bortvalda</em>
            </p>
            <label ng-show="contract.removedLogicalAddresses.length">Bortvalda tidigare valda logiska adresser</label>
            <div class="alert alert-dismissable alert-danger logical-address new-logical-address" ng-repeat="logicalAddress in contract.removedLogicalAddresses">
              {{logicalAddress.namn}}
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- / enskilda tjänstekontrakt panel(er) -->
  <!-- övrigt panel -->
  <div class="panel panel-primary" ng-show="updateServiceProducerRequest.serviceComponent && updateServiceProducerRequest.serviceContracts.length">
    <div class="panel-heading">
      <h3 class="panel-title">Övrigt</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="form-group">
              <label for="ovrigInformation">Övrig information</label>
              <textarea ng-model="updateServiceProducerRequest.otherInfo" id="ovrigInformation" class="form-control" cols="30" rows="10">
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / övrigt panel -->
  <!-- beställare panel -->
  <div class="panel panel-primary" ng-show="updateServiceProducerRequest.serviceComponent && updateServiceProducerRequest.serviceContracts.length">
    <div class="panel-heading">
      <h3 class="panel-title">Beställare</h3>
    </div>
    <div class="panel-body">
      <!--<div class="row">-->
      <!--<h4>Beställare</h4>-->
      <!--</div>-->
      <form name="bestallareForm" role="form">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="form-group">
                <input type="button" class="btn btn-primary btn-sm" ng-click="copyPersonInChargeToClient()" value="Kopiera från huvudansvarig">
              </div>
            </div>
            <div class="row">
              <div class="form-group" show-errors>
                <label class=" control-label" for="bestallareNamn">För- och efternamn</label>
                <input ng-model="updateServiceProducerRequest.client.name"
                       type="text" class="form-control" id="bestallareNamn" name="bestallareNamn"
                       placeholder="" required>
                <span class="help-block" ng-if="bestallareForm.bestallareNamn.$error.required">För- och efternamn måste vara ifyllt</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" show-errors>
                <label for="bestallareEmail" class="control-label">E-postadress</label>
                <input ng-model="updateServiceProducerRequest.client.email" type="email" class="form-control"
                       id="bestallareEmail" name="bestallareMail" placeholder="" required>
                <span class="help-block" ng-if="bestallareForm.bestallareMail.$error.required">E-postadress måste vara ifyllt</span>
                <span class="help-block" ng-if="bestallareForm.bestallareMail.$error.email">E-postadress är ej giltig</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" show-errors>
                <label for="bestallareTelefon" class="control-label">Telefon</label>
                <input ng-model="updateServiceProducerRequest.client.phone" type="text" class="form-control"
                       id="bestallareTelefon" name="bestallareTelefon" placeholder="" required>
                <span class="help-block" ng-if="bestallareForm.bestallareTelefon.$error.required">Telefon måste vara ifyllt</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" show-errors>
                <label for="bestallareHsaId" class="control-label">HSA-ID</label>
                <input ng-model="updateServiceProducerRequest.client.hsaId" type="text" class="form-control"
                       id="bestallareHsaId" name="bestallareHsaId" placeholder="" required>
                <span class="help-block" ng-if="bestallareForm.bestallareHsaId.$error.required">HSA-ID måste vara ifyllt</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" show-errors>
                <label for="bestallareRoll" class="control-label">Roll</label>
                <input ng-model="updateServiceProducerRequest.client.role" type="text" class="form-control"
                       id="bestallareRoll" name="bestallareRoll" placeholder="" required>
                <span class="help-block" ng-if="bestallareForm.bestallareRoll.$error.required">Roll måste vara ifyllt</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- / beställare panel -->
  <div class="row" ng-show="!orderValid && updateServiceProducerRequest.serviceComponent && updateServiceProducerRequest.serviceContracts.length">
    <div class="col-md-4 col-md-offset-8">
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Det finns fel i beställningen som behöver rättas till!
      </div>
    </div>
  </div>
  <div class="row" ng-show="updateServiceProducerRequest.serviceComponent && updateServiceProducerRequest.serviceContracts.length">
    <div class="col-md-4 col-md-offset-8">
      <button type="button" class="btn btn-primary btn-lg btn-wrap pull-right" ng-click="sendServiceProducerConnectionUpdateOrder()">Skicka</button>
    </div>
  </div>

  <h3 ng-show="showDevStuff">sammanfattning:</h3>
  <div ng-show="showDevStuff" class="jumbotron">
    <pre>
{{updateServiceProducerRequest | json}}
    </pre>
    <pre>
logicalAddresses
{{logicalAddresses | json}}
    </pre>
        <pre>
logicalAddressesIntersection
{{logicalAddressesIntersection('logicalAddresses') | json}}
    </pre>
    <pre>
logicalAddressesForAllServiceContracts:
{{logicalAddressesForAllServiceContracts | json}}
    </pre>
    <pre>
removedLogicalAddressesForAllContracts:
{{removedLogicalAddressesForAllContracts | json}}
    </pre>
    <pre>
{{selectedServiceContracts | json}}
    </pre>
  </div>
</div>
