<div class="container-fluid">
  <div class="page-header">
    <h1 translate="komponent_admin.title"></h1>
    <div translate="komponent_admin.info"></div>
  </div>
  <!-- välj tjänstekomponent panel -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title" translate="komponent_admin.panel.title"></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" ng-model="createNew" ng-value="true">
              {{'komponent_admin.panel.mode.create' | translate}}
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="createNew" ng-value="false">
              {{'komponent_admin.panel.mode.edit' | translate}}
            </label>
          </div>
        </div>
      </div>
      <div class="row" ng-hide="createNew">
        <div class="col-md-5">
          <div class="form-group">
            <input type="text" placeholder="{{'komponent_admin.panel.tjanstekomponent_select_placeholder' | translate}}"
                   ng-model="selectedTjanstekomponent"
                   typeahead-wait-ms="200"
                   typeahead-template-url="templates/typeahead-tjanstekomponent.html"
                   typeahead-editable="false"
                   typeahead="tjanstekomponent as ((tjanstekomponent.organisation ? tjanstekomponent.organisation + ' - ' : '') + tjanstekomponent.beskrivning + ' - ' + tjanstekomponent.hsaId) for tjanstekomponent in getFilteredTjanstekomponenter($viewValue)"
                   class="form-control">
          </div>
        </div>
      </div>
      <form role="form" name="tjanstekomponentForm" ng-show="createNew || tjanstekomponent.hsaId">
        <div class="row">
          <div class="col-md-5">
            <h4>&nbsp;</h4> <!-- to align with right column -->
            <div class="form-group">
              <label for="organisation" translate="komponent_admin.panel.organisation.label"></label>
              <input type="text" class="form-control" id="organisation"
                     ng-model="tjanstekomponent.organisation">
            </div>
            <div class="form-group" show-errors global-validation>
              <label for="beskrivning" translate="komponent_admin.panel.namn.label"></label>
              <input type="text" class="form-control" id="beskrivning" required
                     name="beskrivning" ng-model="tjanstekomponent.beskrivning">
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.beskrivning.$error.required" translate="komponent_admin.panel.namn.error.required"></span>
            </div>
            <div ng-if="createNew"><div class="form-group" show-errors="{ trigger: 'keypress' }" global-validation>
              <label for="hsaIdCreateNew" translate="komponent_admin.panel.hsaId.label"></label>
              <i class="fa fa-info-circle" popover="{{'komponent_admin.panel.hsaId.info' | translate}}" popover-trigger="mouseenter" popover-placement="right"></i>
              <input type="text" class="form-control" id="hsaIdCreateNew" one-off-validation="checkHsaIdUnique" one-off-validation-property="unique"
                     name="hsaIdCreateNew" ng-model="tjanstekomponent.hsaId" required>
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.hsaIdCreateNew.$error.required" translate="komponent_admin.panel.hsaId.error.required"></span>
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.hsaIdCreateNew.$error.unique" translate="komponent_admin.panel.hsaId.error.unique"></span>
            </div></div>
            <div ng-if="!createNew" class="form-group" >
              <label for="hsaIdNowCreateNew" translate="komponent_admin.panel.hsaId.label"></label>
              <i class="fa fa-info-circle" popover="{{'komponent_admin.panel.hsaId.info' | translate}}" popover-trigger="mouseenter" popover-placement="right"></i>
              <input type="text" class="form-control" id="hsaIdNowCreateNew"
                     name="hsaId" ng-value="tjanstekomponent.hsaId" readonly>
            </div>
            <div class="form-group">
              <label translate="komponent_admin.panel.nat.title"></label>
              <div class="form-group">
                <label ng-repeat="nat in nat" class="checkbox-inline">
                  <input type="radio" name="nat" ng-model="selectedNat.selected" ng-value="nat" ng-change="selectNat(nat)" ng-checked="tjanstekomponent.nat && tjanstekomponent.nat.id == nat.id">
                  {{nat.namn}}
                </label>
                <span class="help-block manual-error" ng-if="displayNatError" translate="komponent_admin.panel.nat.error.empty"></span>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-2">
            <h4 translate="komponent_admin.panel.teknisk_information.title"></h4>
            <div class="form-group" show-errors global-validation>
              <label for="producentIpadress"
                     translate="komponent_admin.panel.teknisk_information.producent_ip.label"></label>
              <i class="fa fa-info-circle"
                 popover="{{'komponent_admin.panel.teknisk_information.producent_ip.info' | translate}}"
                 popover-trigger="mouseenter" popover-placement="right"></i>
              <input type="text" class="form-control" id="producentIpadress"
                     name="producentIpadress" ng-model="tjanstekomponent.producentIpadress"
                     ng-pattern="/^(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))$/">
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.producentIpadress.$error.pattern"
                    translate="komponent_admin.panel.teknisk_information.producent_ip.error.pattern"></span>
            </div>
            <div class="form-group" show-errors global-validation>
              <label for="producentDnsNamn"
                     translate="komponent_admin.panel.teknisk_information.producent_dns.label"></label>
              <input type="text" class="form-control" id="producentDnsNamn"
                     name="producentDnsNamn" ng-model="tjanstekomponent.producentDnsNamn">
            </div>
            <div class="form-group" show-errors global-validation>
              <label for="konsumentIpadress"
                     translate="komponent_admin.panel.teknisk_information.konsument_ip.label"></label>
              <i class="fa fa-info-circle"
                 popover="{{'komponent_admin.panel.teknisk_information.konsument_ip.info' | translate}}"
                 popover-trigger="mouseenter" popover-placement="right"></i>
              <input type="text" class="form-control" id="konsumentIpadress"
                     name="konsumentIpadress" ng-model="tjanstekomponent.konsumentIpadress"
                     ng-pattern="/^(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))$/">
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.konsumentIpadress.$error.pattern"
                    translate="komponent_admin.panel.teknisk_information.konsument_ip.error.pattern"></span>
            </div>
            <div class="form-group">
              <label for="pingForConfigurationURL" translate="komponent_admin.panel.teknisk_information.pingForConfigurationURL.label"></label>
              <i class="fa fa-info-circle" popover="{{'komponent_admin.panel.teknisk_information.pingForConfigurationURL.info' | translate}}" popover-trigger="mouseenter" popover-placement="right"></i>
              <input type="text" class="form-control" id="pingForConfigurationURL"
                     ng-model="tjanstekomponent.pingForConfigurationURL">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <h4 translate="komponent_admin.panel.huvudansvarig.title"></h4>
            <div class="form-group" show-errors global-validation>
              <label for="huvudansvarigNamn" translate="komponent_admin.panel.huvudansvarig.namn.label"></label>
              <input type="text" class="form-control" id="huvudansvarigNamn" required
                     name="huvudansvarigNamn" ng-model="tjanstekomponent.huvudansvarigKontakt.namn">
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.huvudansvarigNamn.$error.required" translate="komponent_admin.panel.huvudansvarig.namn.error.required"></span>
            </div>
            <div class="form-group" show-errors global-validation>
              <label for="huvudansvarigEpost" translate="komponent_admin.panel.huvudansvarig.email.label"></label>
              <input type="email" class="form-control" id="huvudansvarigEpost" required
                     name="huvudansvarigEpost" ng-model="tjanstekomponent.huvudansvarigKontakt.epost">
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.huvudansvarigEpost.$error.required" translate="komponent_admin.panel.huvudansvarig.email.error.required"></span>
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.huvudansvarigEpost.$error.email" translate="komponent_admin.panel.huvudansvarig.email.error.email"></span>
            </div>
            <div class="form-group" show-errors global-validation>
              <label for="huvudansvarigTelefon" translate="komponent_admin.panel.huvudansvarig.phone.label"></label>
              <input type="text" class="form-control" id="huvudansvarigTelefon" required
                     name="huvudansvarigTelefon" ng-model="tjanstekomponent.huvudansvarigKontakt.telefon">
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.huvudansvarigTelefon.$error.required" translate="komponent_admin.panel.huvudansvarig.phone.error.required"></span>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-2">
            <h4 translate="komponent_admin.panel.teknisk_kontaktperson.title"></h4>
            <div class="form-group" show-errors global-validation>
              <label for="tekniskKontaktNamn" translate="komponent_admin.panel.teknisk_kontaktperson.namn.label"></label>
              <input type="text" class="form-control" id="tekniskKontaktNamn" required
                     name="tekniskKontaktNamn" ng-model="tjanstekomponent.tekniskKontakt.namn">
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.tekniskKontaktNamn.$error.required" translate="komponent_admin.panel.teknisk_kontaktperson.namn.error.required"></span>
            </div>
            <div class="form-group" show-errors global-validation>
              <label for="tekniskKontaktEpost" translate="komponent_admin.panel.teknisk_kontaktperson.email.label"></label>
              <input type="email" class="form-control" id="tekniskKontaktEpost" required
                     name="tekniskKontaktEpost" ng-model="tjanstekomponent.tekniskKontakt.epost">
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.tekniskKontaktEpost.$error.required" translate="komponent_admin.panel.teknisk_kontaktperson.email.error.required"></span>
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.tekniskKontaktEpost.$error.email" translate="komponent_admin.panel.teknisk_kontaktperson.email.error.email"></span>
            </div>
            <div class="form-group" show-errors global-validation>
              <label for="tekniskKontaktTelefon" translate="komponent_admin.panel.teknisk_kontaktperson.phone.label"></label>
              <input type="text" class="form-control" id="tekniskKontaktTelefon" required
                     name="tekniskKontaktTelefon" ng-model="tjanstekomponent.tekniskKontakt.telefon">
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.tekniskKontaktTelefon.$error.required" translate="komponent_admin.panel.teknisk_kontaktperson.phone.error.required"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <h4 translate="komponent_admin.panel.teknisk_support.title"></h4>
            <div class="form-group" show-errors global-validation>
              <label for="tekniskSupportEpost" translate="komponent_admin.panel.teknisk_support.email.label"></label>
              <i class="fa fa-info-circle" popover="{{'komponent_admin.panel.teknisk_support.email.info' | translate}}" popover-trigger="mouseenter" popover-placement="right"></i>
              <input type="email" class="form-control" id="tekniskSupportEpost" required
                     name="tekniskSupportEpost" ng-model="tjanstekomponent.tekniskSupportKontakt.epost">
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.tekniskSupportEpost.$error.required" translate="komponent_admin.panel.teknisk_support.email.error.required"></span>
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.tekniskSupportEpost.$error.email" translate="komponent_admin.panel.teknisk_support.email.error.email"></span>
            </div>
            <div class="form-group" show-errors global-validation>
              <label for="tekniskSupportTelefon" translate="komponent_admin.panel.teknisk_support.phone.label"></label>
              <input type="text" class="form-control" id="tekniskSupportTelefon" required
                     name="tekniskSupportTelefon" ng-model="tjanstekomponent.tekniskSupportKontakt.telefon">
              <span class="help-block hide-no-error" ng-if="tjanstekomponentForm.tekniskSupportTelefon.$error.required" translate="komponent_admin.panel.teknisk_support.phone.error.required"></span>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-2">
            <h4>&nbsp;</h4> <!-- to align with left column -->
            <div class="form-group">
              <label for="ovrigInformation" translate="komponent_admin.panel.other_info.label"></label>
              <textarea ng-model="tjanstekomponent.otherInfo" id="ovrigInformation" class="form-control" cols="30" rows="5"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- / välj tjänstekomponent panel -->
  <div class="row" ng-show="!tjanstekomponentValid && tjanstekomponent.hsaId">
    <div class="col-md-4 col-md-offset-8">
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <span translate="komponent_admin.submit.form_error_msg"></span>
      </div>
    </div>
  </div>
  <div class="row" ng-show="tjanstekomponent.hsaId || createNew">
    <div class="col-md-4 col-md-offset-8">
      <button type="button" class="btn btn-primary btn-lg btn-wrap pull-right" ng-click="updateTjanstekomponent()" ng-disabled="disableSubmitButton" ng-dblclick="return false;">
        <span ng-if="createNew" translate="komponent_admin.submit.button.save">Spara</span>
        <span ng-if="!createNew" translate="komponent_admin.submit.button.update"></span>
      </button>
    </div>
  </div>
</div>
