<!-- välj tjänstekontrakt panel -->
<div class="panel panel-primary" ng-show="konsumentbestallning.tjanstekomponent.hsaId && konsumentbestallning.driftmiljo.id">
  <div class="panel-heading">
    <h3 class="panel-title" translate="order.konsument.select_kontrakt_panel.title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5 form-group">
        <label for="service-domain" translate="order.konsument.select_kontrakt_panel.tjanstedoman.label"></label>
        <select class="form-control" ng-model="selectedTjanstedoman" ng-change="updateAnslutningarIValdTjanstedoman()" ng-options="serviceDomain as (serviceDomain.tjansteDomanId + (serviceDomain.svensktKortNamn && serviceDomain.svensktKortNamn !== '-' ? ' (' + serviceDomain.svensktKortNamn + ')' : '')) for serviceDomain in serviceDomains" id="service-domain">
          <option value="" translate="order.konsument.select_kontrakt_panel.tjanstedoman.select_placeholder"></option>
        </select>
      </div>
    </div>
    <div class="row" ng-show="selectedTjanstedoman">
      <div class="col-md-12">
        <h5 translate="order.konsument.select_kontrakt_panel.matrix_info"></h5>
      </div>
    </div>
    <div class="row" ng-show="reloadingMatrix">
      <div class="col-md-12">
        <img src="img/ajax-loader.gif">
      </div>
    </div>
    <div class="row" ng-show="selectedTjanstedoman && !reloadingMatrix">
      <div class="col-md-12 matrix">
        <div class="matrix-container">
          <table class="table table-condensed table-bordered detached-header">
            <thead>
            <tr>
              <th class="la-name-container">&nbsp;</th>
              <th ng-repeat="kontrakt in kontraktIValdTjanstedoman" class="contract-name-container" scrollbar-pad="($last && logiskaAdresser.length > 3)">
                <div class="rotated-text">
                  <div class="rotated-text__inner">
                    <span>{{kontrakt.tjanstekontraktNamn}} {{kontrakt.tjanstekontraktMajorVersion}}.x</span>
                  </div>
                </div>
              </th>
            </tr>
            </thead>
            <tbody ng-if="logiskaAdresserIValdTjanstedoman.length">
            <tr>
              <td>
                <div class="form-group form-group-sm la-filter-group">
                  <label for="laFilter" translate="order.konsument.select_kontrakt_panel.logiska_adresser_filter_label"></label>
                  <input type="text" class="form-control input-sm" id="laFilter" ng-model="laFilter" ng-model-options='{ debounce: 500 }' ng-change="filterLogiskaAdresser(laFilter)">
                </div>
              </td>
              <td ng-repeat="kontrakt in kontraktIValdTjanstedoman"
                  class="la-checkbox-container"
                  scrollbar-pad="($last && logiskaAdresser.length > 3)"
                  ng-class="{'checkbox-disabled': logiskaAdresser.length !== logiskaAdresserIValdTjanstedoman.length}"
                  uib-tooltip="{{'order.konsument.select_kontrakt_panel.check_all_disabled_info' | translate}}"
                  tooltip-enable="logiskaAdresser.length !== logiskaAdresserIValdTjanstedoman.length"
                  tooltip-append-to-body="true">
                <div>
                  <label for="checkAll" translate="order.konsument.select_kontrakt_panel.check_all_kontrakt_label"></label>
                  <div>
                    <input id="checkAll" type="checkbox" ng-model="kontrakt._checkAll" ng-change="selectAllLogiskaAdresser(kontrakt)" ng-disabled="logiskaAdresser.length !== logiskaAdresserIValdTjanstedoman.length">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="{{kontraktIValdTjanstedoman.length + 1}}">
                <h5>
                  <span translate="order.konsument.select_kontrakt_panel.table_info"></span>
                  <i class="fa fa-info-circle" popover="{{::'order.konsument.select_kontrakt_panel.table_info_info' | translate}}" popover-trigger="mouseenter" popover-placement="bottom"></i>
                </h5>
                <div ng-if="removeWarning">
                  <span class="label label-danger" translate="order.konsument.select_kontrakt_panel.remove_warning_label"></span>
                  <span translate="order.konsument.select_kontrakt_panel.remove_warning_info"></span>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="selector" ng-class="{'y-scroll' : logiskaAdresser.length > 3}">
            <table class="table table-condensed table-bordered">
              <tbody vs-repeat vs-scroll-parent=".selector">
              <tr ng-repeat="la in logiskaAdresser track by la.hsaId">
                <th class="la-name-container">
                  <p>{{::la.namn}}</p>
                  <small>{{::la.hsaId}}</small>
                </th>
                <td ng-repeat="kontrakt in kontraktIValdTjanstedoman track by (la.hsaId + kontrakt._key)"
                    class="la-checkbox-container"
                    ng-class="{
                      'checkbox-disabled': !matrix[la.hsaId][kontrakt._key],
                      'removed': matrix[la.hsaId][kontrakt._key].enabled && !matrix[la.hsaId][kontrakt._key].checked,
                      'added': !matrix[la.hsaId][kontrakt._key].enabled && matrix[la.hsaId][kontrakt._key].checked
                      }"
                    uib-tooltip="{{::'order.konsument.select_kontrakt_panel.single_disabled_info' | translate}}"
                    tooltip-enable="::!matrix[la.hsaId][kontrakt._key]"
                    tooltip-append-to-body="::true">
                  <div>
                    <input type="checkbox" ng-model="matrix[la.hsaId][kontrakt._key].checked" ng-change="updateLogiskAdressOnAnslutning(la.hsaId, kontrakt._key)" ng-disabled="::!matrix[la.hsaId][kontrakt._key]">
                  </div>
                </td>
              </tr>
              <tr ng-if="!logiskaAdresser.length">
                <td>
                  <em translate="order.konsument.select_kontrakt_panel.no_logiska_adresser_found"></em>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / välj tjänstekontrakt panel -->
