<!-- välj tjänstekontrakt panel -->
<div class="panel panel-primary" ng-show="producentbestallning.tjanstekomponent.hsaId && producentbestallning.driftmiljo.id">
  <div class="panel-heading">
    <h3 class="panel-title" translate="order.producent.select_kontrakt_panel.title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5 form-group">
        <label for="service-domain" translate="order.producent.select_kontrakt_panel.tjanstedoman.label"></label>
        <select class="form-control" ng-model="selectedTjanstedoman" ng-change="updateConnectionsInCurrentServiceDomain()" ng-options="serviceDomain as (serviceDomain.tjansteDomanId + (serviceDomain.svensktKortNamn && serviceDomain.svensktKortNamn !== '-' ? ' (' + serviceDomain.svensktKortNamn + ')' : '')) for serviceDomain in serviceDomains" id="service-domain">
          <option value="" translate="order.producent.select_kontrakt_panel.tjanstedoman.select_placeholder"></option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label translate="order.producent.select_kontrakt_panel.tjanstekontrakt.label"></label>
        <table class="table table-condensed table-bordered contract-selector">
          <thead>
          <tr>
            <th class="col-md-11" translate="order.producent.select_kontrakt_panel.tjanstekontrakt.thead.name"></th>
            <th class="col-md-1" translate="order.producent.select_kontrakt_panel.tjanstekontrakt.thead.version"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-hide="connectionsInCurrentServiceDomain.length">
            <td colspan="2">
              <em translate="order.producent.select_kontrakt_panel.tjanstekontrakt.no_contracts"></em>
            </td>
          </tr>
          <tr ng-repeat="connection in connectionsInCurrentServiceDomain"
              ng-class="{'success': connection._selected, 'contract-disabled': !connection.installeratIDriftmiljo}"
              ng-click="connection._selected = !connection._selected && connection.installeratIDriftmiljo"
              class="contract-row">
            <td>
              <span>{{connection.tjanstekontraktNamn}}</span>
              <span class="label label-default" ng-show="!connection.installeratIDriftmiljo" translate="order.producent.select_kontrakt_panel.anslutning.status.not_installed"></span>
              <span class="label label-warning" ng-show="connection.installeratIDriftmiljo && !connection.logiskAdressStatuses.length" translate="order.producent.select_kontrakt_panel.anslutning.status.not_connected"></span>
              <span class="label label-info" ng-show="connection.logiskAdressStatuses.length" translate="order.producent.select_kontrakt_panel.anslutning.status.connected"></span>
              <span class="label label-success" ng-show="connection._paBestallning" translate="order.producent.select_kontrakt_panel.anslutning.status.on_order"></span>
            </td>
            <td>{{connection.tjanstekontraktMajorVersion}}.x</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
        <label>&nbsp;</label>
        <div class="centered-content">
          <button type="button" class="btn btn-primary" ng-show="connectionsInCurrentServiceDomain.length" ng-click="updateValdaAnslutningar()">
            <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="col-md-5">
        <label translate="order.producent.select_kontrakt_panel.order.label"></label>
        <table class="table table-condensed table-bordered contract-selector">
          <thead>
          <tr>
            <th class="col-md-1"></th>
            <th class="col-md-9" translate="order.producent.select_kontrakt_panel.order.thead.name"></th>
            <th class="col-md-2" translate="order.producent.select_kontrakt_panel.order.thead.version"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-hide="producentbestallning.producentanslutningar.length">
            <td colspan="3">
              <em translate="order.producent.select_kontrakt_panel.order.no_contracts"></em>
            </td>
          </tr>
          <tr ng-repeat="connection in producentbestallning.producentanslutningar | orderBy:'tjanstekontraktNamnrymd' | orderBy: 'tjanstekontraktNamn'">
            <td class="contract-button" style="text-align: center" ng-click="removeAnslutningFromOrder(connection)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </td>
            <td>
              <p style="margin-bottom: -5px">{{connection.tjanstekontraktNamn}}</p>
                  <span>
                    <small>({{connection._tjanstedoman}})</small>
                  </span>
            </td>
            <td>{{connection.tjanstekontraktMajorVersion}}.x</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- / välj tjänstekontrakt panel -->
<!-- konfigurera tjänstekontrakt panel -->
<div class="panel panel-primary" ng-show="producentbestallning.tjanstekomponent.hsaId && producentbestallning.producentanslutningar.length">
  <div class="panel-heading">
    <h3 class="panel-title" translate="order.producent.logiska_adresser_choices_panel.title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p translate="order.producent.logiska_adresser_choices_panel.p"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="radio">
          <label>
            <input ng-model="orderMode" ng-value="ORDER_MODE.ADD" type="radio" name="orderModeRadios" id="optionsRadios1">
            <span translate="order.producent.logiska_adresser_choices_panel.label.add"></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input ng-model="orderMode" ng-value="ORDER_MODE.REMOVE" type="radio" name="orderModeRadios" id="optionsRadios2">
            <span translate="order.producent.logiska_adresser_choices_panel.label.remove"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / konfigurera tjänstekontrakt panel -->
<!-- lägg till logiska adresser panel -->
<div class="panel panel-primary" ng-if="producentbestallning.tjanstekomponent && producentbestallning.producentanslutningar.length && orderMode === ORDER_MODE.ADD">
  <div class="panel-heading">
    <h3 class="panel-title" translate="order.producent.logical_address_add_panel.title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label translate="order.producent.logical_address_add_panel.search.label"></label>
          <input type="text" ng-model="selectedLogicalAddress.selected"
                 type-wait-ms="200" typeahead-template-url="templates/typeahead-logisk-adress.html"
                 typeahead-editable="false"
                 uib-typeahead="logiskAdress as (logiskAdress.namn + ' - ' + logiskAdress.hsaId) for logiskAdress in getFilteredLogiskaAdresser($viewValue, producentbestallning.driftmiljo.id)"
                 class="form-control">
          <p style="color: red" ng-if="firstLogicalAddressStatuses.length">
            <span class="label label-danger" translate="order.producent.logical_address_add_panel.add.already_connected.warning_label"></span>
            <span translate="order.producent.logical_address_add_panel.add.already_connected.pre_text"></span>
            <span ng-repeat="connection in firstLogicalAddressStatuses">{{connection.tjanstekontraktNamn}} {{connection.tjanstekontraktMajorVersion}}.x<span ng-if="!$last">,</span><span ng-if="$last">.</span></span>
            <span translate="order.producent.logical_address_add_panel.add.already_connected.post_text"></span>
          </p>
        </div>
        <div class="form-group">
          <label translate="order.producent.logical_address_add_panel.add.label"></label>
          <input ng-model="newLogicalAddress.hsaId"
                 type="text" class="form-control"
                 id="newLogicalAddress_HSAID"
                 ng-change="newLogicalAddress._backend = false; newLogicalAddress.namn = ''; disableSecond = isLogicalAddressAmongNew(newLogicalAddress);"
                 ng-focus="newLogicalAddress._backend = null;"
                 placeholder="{{'order.producent.logical_address_add_panel.add.placeholder.hsaId' | translate}}">
        </div>
        <div class="form-group">
          <input ng-model="newLogicalAddress.namn"
                 type="text" class="form-control"
                 id="newLogicalAddress_Name"
                 placeholder="{{'order.producent.logical_address_add_panel.add.placeholder.name' | translate}}"
                 ng-disabled="!newLogicalAddress.hsaId || newLogicalAddress._backend"
                 ng-focus="updateLogiskAdressWithBackendData(newLogicalAddress)">
          <p style="color: red" ng-if="newLogicalAddress.hsaId && (newLogicalAddress._backend && newLogicalAddress._backend != null) && secondLogicalAddressStatuses.length">
            <span class="label label-danger" translate="order.producent.logical_address_add_panel.add.already_connected.warning_label"></span>
            <span translate="order.producent.logical_address_add_panel.add.already_connected.pre_text"></span>
            <span ng-repeat="connection in secondLogicalAddressStatuses">{{connection.tjanstekontraktNamn}} {{connection.tjanstekontraktMajorVersion}}.x<span ng-if="!$last">,</span><span ng-if="$last">.</span></span>
            <span translate="order.producent.logical_address_add_panel.add.already_connected.post_text"></span>
          </p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="top25 centered-content">
          <button type="button" class="btn btn-primary" ng-click="addNewLogicalAddress(selectedLogicalAddress.selected); selectedLogicalAddress.selected = '';">
            <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
          </button>
        </div>
        <div class="centered-content top45">
          <button type="button" class="btn btn-primary" ng-disabled="!newLogicalAddress.hsaId || !newLogicalAddress.namn || disableSecond" ng-click="addNewLogicalAddress(newLogicalAddress); newLogicalAddress = {};">
            <span class="glyphicon glyphicon-forward" aria-hidden="true" ng-show="!disableSecond"></span>
            <span ng-show="disableSecond" translate="order.producent.logical_address_add_panel.add.disabled_button"></span>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <label
          translate="order.producent.logical_address_add_panel.selected.label"></label>
        <logisk-adress-alert
          logisk-adress-namn="{{::logiskAdress.namn}}"
          logisk-adress-hsa-id="{{::logiskAdress.hsaId}}"
          type="success"
          close="removeNewLogicalAddress(logiskAdress)"
          ng-repeat="logiskAdress in newLogicalAddresses | orderBy:'namn' track by logiskAdress.hsaId">
        </logisk-adress-alert>
        <p ng-hide="newLogicalAddresses.length">
          <em translate="order.producent.logical_address_add_panel.selected.none"></em>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- / lägg till logiska adresser panel -->
<!-- ta bort logiska adresser panel -->
<div class="panel panel-primary" ng-if="producentbestallning.tjanstekomponent && producentbestallning.producentanslutningar.length && orderMode === ORDER_MODE.REMOVE">
  <div class="panel-heading">
    <h3 class="panel-title" translate="order.producent.logical_address_remove_panel.title"></h3>
  </div>
  <div class="panel-body">
    <div class="row" ng-if="orderMode === ORDER_MODE.REMOVE && nonCommons.length">
      <div class="col-md-12">
        <p>
          <span class="label label-danger" translate="order.producent.logical_address_remove_panel.non_common.label"></span>
          <span style="color: red" ng-repeat="nonCommon in nonCommons">{{nonCommon.serviceContractName}}<span ng-if="!$last">, </span></span>
          <span style="color: red" translate="order.producent.logical_address_remove_panel.non_common.info_text_ending"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label translate="order.producent.logical_address_remove_panel.current.label"></label>
      </div>
      <div class="col-md-6">
        <label ng-show="commonRemovedLogicalAddresses.length" translate="order.producent.logical_address_remove_panel.deselected_current.label"></label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div ng-if="commonLogicalAddresses.length" class="logical-address-alerts">
          <logisk-adress-alert
            logisk-adress-namn="{{::logiskAdress.namn}}"
            logisk-adress-hsa-id="{{::logiskAdress.hsaId}}"
            type="info"
            close="removeCurrentLogicalAddress(logiskAdress)"
            ng-repeat="logiskAdress in commonLogicalAddresses | orderBy:'namn' track by logiskAdress.hsaId">
          </logisk-adress-alert>
        </div>
        <p ng-hide="commonLogicalAddresses.length">
          <em translate="order.producent.logical_address_remove_panel.current.none"></em>
        </p>
      </div>
      <div class="col-md-6">
        <div ng-if="commonRemovedLogicalAddresses.length" class="logical-address-alerts">
          <logisk-adress-alert
            logisk-adress-namn="{{::logiskAdress.namn}}"
            logisk-adress-hsa-id="{{::logiskAdress.hsaId}}"
            type="danger"
            close="reAddCurrentLogicalAddress(logiskAdress)"
            ng-repeat="logiskAdress in commonRemovedLogicalAddresses.slice().reverse() track by logiskAdress.hsaId">
          </logisk-adress-alert>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / ta bort logiska adresser panel -->
<!-- RIV-profil samt URL panels -->
<div class="panel panel-primary"
     ng-if="producentbestallning.tjanstekomponent && producentbestallning.producentanslutningar.length && orderMode === ORDER_MODE.ADD"
     ng-repeat="anslutning in producentbestallning.producentanslutningar | orderBy:'tjanstekontraktNamnrymd' | orderBy:'tjanstekontraktNamn'">
  <div class="panel-heading">
    <h3 class="panel-title" ng-if="!anslutning.tidigareRivtaProfil">{{'order.producent.connection_config_panel.title.new' | translate}} {{anslutning.tjanstekontraktNamn}} {{anslutning.tjanstekontraktMajorVersion}}.x ({{anslutning._tjanstedoman}})</h3>
    <h3 class="panel-title" ng-if="anslutning.tidigareRivtaProfil">{{'order.producent.connection_config_panel.title.existing' | translate}} {{anslutning.tjanstekontraktNamn}} {{anslutning.tjanstekontraktMajorVersion}}.x ({{anslutning._tjanstedoman}})</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <form name="serviceContractForm">
        <div class="col-md-3">
          <label for="rivtaVersion" translate="order.producent.connection_config_panel.rivta_version.label"></label>
          <i class="fa fa-info-circle" popover="{{'order.producent.connection_config_panel.rivta_version.info' | translate}}" popover-trigger="mouseenter" popover-placement="right"></i>
          <select id="rivtaVersion" class="form-control" ng-model="anslutning.rivtaProfil"
                  ng-options="rivProfile as rivProfile for rivProfile in rivProfiles | orderBy:'toString()':true"
                  ng-init="anslutning.rivtaProfil = (anslutning.rivtaProfil ? anslutning.rivtaProfil : (rivProfiles | orderBy:'toString()':true)[0])"></select>
        </div>
        <div class="col-md-9">
          <div class="form-group" show-errors global-validation>
            <label class="control-label" for="urlInput" translate="order.producent.connection_config_panel.url.label"></label>
            <i class="fa fa-info-circle" popover="{{'order.producent.connection_config_panel.url.info' | translate}}" popover-trigger="mouseenter" popover-placement="right"></i>
            <input type="url" class="form-control" id="urlInput" name="url" ng-model="anslutning.url" placeholder="skriv in url" validity-bind-fix required ng-init="anslutning.url = !anslutning.url ? 'https://' : anslutning.url">
            <span class="help-block hide-no-error" ng-if="serviceContractForm.url.$error.required" translate="order.producent.connection_config_panel.url.error.required"></span>
            <span class="help-block hide-no-error" ng-if="serviceContractForm.url.$error.url" translate="order.producent.connection_config_panel.url.error.url"></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- / RIV-profil samt URL panels -->
<!-- / enskilda tjänstekontrakt panel(er) -->
<!-- anropsbehörighet panel -->
<div class="panel panel-primary" ng-show="producentbestallning.tjanstekomponent
  && newLogicalAddresses.length"> <!-- only disable panel, must also remove konsumentbestallningar upon submit if no nyaLogiskaAdresser-->
  <div class="panel-heading">
    <h3 class="panel-title" translate="order.producent.anropsbehorighet_panel.title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p translate="order.producent.anropsbehorighet_panel.p"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="radio">
          <label>
            <input ng-model="callPermissionInSeparateOrder" ng-value="true" type="radio" name="callPermissionRadios"
                   id="callPermissionRadios1" ng-init="callPermissionInSeparateOrder=true">
            {{'order.producent.anropsbehorighet_panel.choice.label.call_permission_separate_order' | translate}}
          </label>
        </div>
        <div class="radio">
          <label>
            <input ng-model="callPermissionInSeparateOrder" ng-value="false" type="radio" name="callPermissionRadios" id="callPermissionRadios2">
            {{'order.producent.anropsbehorighet_panel.choice.label.call_permission_this_order' | translate}}
          </label>
        </div>
      </div>
    </div>
    <div ng-hide="callPermissionInSeparateOrder">
      <div class="row top25">
        <div class="col-md-5">
          <div class="form-group">
            <label translate="order.producent.anropsbehorighet_panel.konsument_search.label"></label>
            <input type="text" placeholder="{{'order.producent.anropsbehorighet_panel.konsument_search.placeholder' | translate}}" ng-init="selectedTjanstekonsument.selected = '';"
                   ng-model="selectedTjanstekonsument.selected"
                   typeahead-wait-ms="200" typeahead-template-url="templates/typeahead-tjanstekomponent.html"
                   typeahead-editable="false"
                   uib-typeahead="tjanstekomponent as ((tjanstekomponent.organisation ? tjanstekomponent.organisation + ' -- ' : '') + tjanstekomponent.beskrivning + ' -- ' + tjanstekomponent.hsaId) for tjanstekomponent in getFilteredTjanstekomponenter($viewValue, null, producentbestallning.tjanstekomponent)"
                   class="form-control">
          </div>
        </div>
        <div class="col-md-1">
          <div class="top25 centered-content">
            <button type="button" class="btn btn-primary" ng-click="addTjanstekonsumentToOrder(selectedTjanstekonsument.selected); selectedTjanstekonsument.selected = '';">
              <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <label translate="order.producent.anropsbehorighet_panel.selected_konsumenter.label"></label>
          <logisk-adress-alert
            logisk-adress-namn="{{::konsumentbestallning.tjanstekomponent.beskrivning}}"
            logisk-adress-hsa-id="{{::konsumentbestallning.tjanstekomponent.hsaId}}"
            type="success"
            close="removeTjanstekonsumentFromOrder(konsumentbestallning.tjanstekomponent)"
            ng-repeat="konsumentbestallning in konsumentbestallningar = producentbestallning.konsumentbestallningar">
          </logisk-adress-alert>
          <p ng-hide="konsumentbestallningar.length">
            <em translate="order.producent.anropsbehorighet_panel.selected_konsumenter.none"></em>
          </p>
        </div>
      </div>
      <div class="row top25" ng-show="konsumentbestallningar.length">
        <div class="col-md-12">
          <p translate="order.producent.anropsbehorighet_panel.selected_konsumenter.selected_info"></p>
        </div>
      </div>
      <div class="row top25" ng-show="konsumentbestallningar.length">
        <div class="col-md-6 col-md-offset-6">
          <dl>
            <dt>
                    <span ng-repeat="anslutning in producentbestallning.producentanslutningar | orderBy:'tjanstekontraktNamnrymd' | orderBy: 'tjanstekontraktNamn'">
                      <span>{{anslutning.tjanstekontraktNamn}} {{anslutning.tjanstekontraktMajorVersion}}.x<span ng-if="!$last">,</span></span>
                    </span>
            </dt>
            <dd ng-repeat="logiskAdress in newLogicalAddresses | orderBy:'namn' track by logiskAdress.hsaId">
              {{logiskAdress.namn}} ({{logiskAdress.hsaId}})
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / anropsbehörighet panel -->
