<!-- välj tjänstekontrakt panel -->
<div class="panel panel-primary" ng-show="producentbestallning.nat.length">
  <div class="panel-heading">
    <h3 class="panel-title" translate="order.producent.select_kontrakt_panel.title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5 form-group">
        <label for="service-domain" translate="order.producent.select_kontrakt_panel.tjanstedoman.label"></label>
        <select class="form-control" ng-model="selectedTjanstedoman" ng-change="updateAnslutningarIValdTjanstedoman()" ng-options="serviceDomain as (serviceDomain.tjansteDomanId + (serviceDomain.svensktKortNamn && serviceDomain.svensktKortNamn !== '-' ? ' (' + serviceDomain.svensktKortNamn + ')' : '')) for serviceDomain in serviceDomains" id="service-domain">
          <option value="" translate="order.producent.select_kontrakt_panel.tjanstedoman.select_placeholder"></option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label translate="order.producent.select_kontrakt_panel.tjanstekontrakt.label"></label>
        <table class="table table-condensed table-bordered contract-selector">
          <thead>
          <tr>
            <th class="col-md-11" translate="order.producent.select_kontrakt_panel.tjanstekontrakt.thead.name"></th>
            <th class="col-md-1" translate="order.producent.select_kontrakt_panel.tjanstekontrakt.thead.version"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-hide="anslutningarIValdTjanstedoman.length">
            <td colspan="2">
              <em translate="order.producent.select_kontrakt_panel.tjanstekontrakt.no_contracts"></em>
            </td>
          </tr>
          <tr ng-repeat="anslutning in anslutningarIValdTjanstedoman"
              ng-class="{'success': anslutning._selected, 'contract-disabled': !anslutning._finnsIDriftmiljo}"
              ng-click="anslutning._selected = !anslutning._selected && anslutning._finnsIDriftmiljo"
              class="contract-row">
            <td>
              <span>{{anslutning._namn}}</span>
              <span class="label label-default" ng-show="!anslutning._finnsIDriftmiljo" translate="order.producent.select_kontrakt_panel.anslutning.status.not_installed"></span>
              <span class="label label-warning" ng-show="anslutning._finnsIDriftmiljo && !anslutning._anslutetForProducent" translate="order.producent.select_kontrakt_panel.anslutning.status.not_connected"></span>
              <span class="label label-info" ng-show="anslutning._anslutetForProducent" translate="order.producent.select_kontrakt_panel.anslutning.status.connected"></span>
              <span class="label label-success" ng-show="anslutning._paBestallning" translate="order.producent.select_kontrakt_panel.anslutning.status.on_order"></span>
            </td>
            <td>{{anslutning.tjanstekontraktMajorVersion}}.{{anslutning.tjanstekontraktMinorVersion}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
        <label>&nbsp;</label>
        <div class="centered-content">
          <button type="button" class="btn btn-primary" ng-show="anslutningarIValdTjanstedoman.length" ng-click="updateValdaAnslutningar()">
            <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="col-md-5">
        <label translate="order.producent.select_kontrakt_panel.order.label"></label>
        <table class="table table-condensed table-bordered contract-selector">
          <thead>
          <tr>
            <th class="col-md-1"></th>
            <th class="col-md-9" translate="order.producent.select_kontrakt_panel.order.thead.name"></th>
            <th class="col-md-2" translate="order.producent.select_kontrakt_panel.order.thead.version"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-hide="producentbestallning.producentanslutningar.length">
            <td colspan="3">
              <em translate="order.producent.select_kontrakt_panel.order.no_contracts"></em>
            </td>
          </tr>
          <tr ng-repeat="anslutning in producentbestallning.producentanslutningar | orderBy:'tjanstekontraktNamnrymd' | orderBy: '_namn'">
            <td class="contract-button" style="text-align: center" ng-click="removeAnslutningFromOrder(anslutning)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </td>
            <td>
              <p style="margin-bottom: -5px">{{anslutning._namn}}</p>
                  <span>
                    <small>({{anslutning._tjanstedoman}})</small>
                  </span>
            </td>
            <td>{{anslutning.tjanstekontraktMajorVersion}}.{{anslutning.tjanstekontraktMinorVersion}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- / välj tjänstekontrakt panel -->
<!-- konfigurera tjänstekontrakt panel -->
<div class="panel panel-primary" ng-show="producentbestallning.tjanstekomponent.hsaId && producentbestallning.producentanslutningar.length">
  <div class="panel-heading">
    <h3 class="panel-title" translate="order.producent.logiska_adresser_choices_panel.title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p translate="order.producent.logiska_adresser_choices_panel.p"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="radio" ng-class="{'disabled': !canHandleLogiskaAdresserInUnity}">
          <label>
            <input ng-model="linkLogicalAddressChoice" value="sameForAllAnslutningar" type="radio" name="linkLogicalAddressChoiceRadios" id="optionsRadios1" ng-disabled="!canHandleLogiskaAdresserInUnity">
            <span translate="order.producent.logiska_adresser_choices_panel.label.unified"></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input ng-model="linkLogicalAddressChoice" value="individualPerAnslutning" type="radio" name="linkLogicalAddressChoiceRadios" id="optionsRadios2">
            <span translate="order.producent.logiska_adresser_choices_panel.label.individual"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / konfigurera tjänstekontrakt panel -->
<!-- samma logiska adresser panel -->
<div class="panel panel-primary" ng-show="producentbestallning.tjanstekomponent && producentbestallning.producentanslutningar.length && linkLogicalAddressChoice === 'sameForAllAnslutningar'">
  <div class="panel-heading">
    <h3 class="panel-title" translate="order.producent.logiska_adresser_selections_panel.title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="row">
            <div class="form-group">
              <label translate="order.producent.logiska_adresser_selections_panel.search.label"></label>
              <input type="text" ng-model="selectedLogicalAddress.selected"
                     type-wait-ms="200" typeahead-template-url="templates/typeahead-logisk-adress.html"
                     typeahead-editable="false"
                     typeahead="logiskAdress as (logiskAdress.namn + ' - ' + logiskAdress.hsaId) for logiskAdress in getFilteredLogiskaAdresser($viewValue)"
                     typeahead-on-select="disableFirst = !canAddLogiskAdressToAllAnslutningar($item)"
                     class="form-control">
            </div>
          </div>

          <div class="row">
            <label translate="order.producent.logiska_adresser_selections_panel.add.label"></label>
            <div class="form-group">
              <input ng-model="newLogicalAddress.hsaId" type="text" class="form-control" id="newLogicalAddress_HSAID" ng-change="disableSecond = !canAddLogiskAdressToAllAnslutningar(newLogicalAddress);"
                     placeholder="{{'order.producent.logiska_adresser_selections_panel.add.placeholder.hsaId' | translate}}">
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <input ng-model="newLogicalAddress.namn" type="text" class="form-control" id="newLogicalAddress_Name"
                     placeholder="{{'order.producent.logiska_adresser_selections_panel.add.placeholder.namn' | translate}}">
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row">
            <div class="centered-content top25">
              <button type="button" class="btn btn-primary" ng-disabled="disableFirst" ng-click="addLogiskAdressToAllAnslutningar(selectedLogicalAddress.selected); selectedLogicalAddress.selected = '';">
                <span class="glyphicon glyphicon-forward" aria-hidden="true" ng-show="!disableFirst"></span>
                <span ng-show="disableFirst" translate="order.producent.logiska_adresser_selections_panel.add.disabled_button"></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="centered-content top45">
              <button type="button" class="btn btn-primary" ng-disabled="disableSecond" ng-click="addLogiskAdressToAllAnslutningar(newLogicalAddress); newLogicalAddress = {};">
                <span class="glyphicon glyphicon-forward" aria-hidden="true" ng-show="!disableSecond"></span>
                <span ng-show="disableSecond" translate="order.producent.logiska_adresser_selections_panel.add.disabled_button"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group col-md-5" ng-if="!producentbestallning.producentanslutningar[0]._anslutetForProducent">
          <label translate="order.producent.logiska_adresser_selections_panel.selection.current.label"></label>
          <logisk-adress-alert
            logisk-adress="logiskAdress"
            type="success"
            close="removeLogiskAdressFromAllAnslutningar(logiskAdress)"
            ng-repeat="logiskAdress in nyaLogiskaAdresser = (producentbestallning.producentanslutningar | intersection:'nyaLogiskaAdresser')">
          </logisk-adress-alert>
          <p ng-hide="nyaLogiskaAdresser.length">
            <em translate="order.producent.logiska_adresser_selections_panel.selection.current.none"></em>
          </p>
        </div>
        <div class="form-group col-md-5" ng-if="producentbestallning.producentanslutningar[0]._anslutetForProducent">
          <label translate="order.producent.logiska_adresser_selections_panel.selection.new.label"></label>
          <logisk-adress-alert
            logisk-adress="logiskAdress"
            type="success"
            close="removeLogiskAdressFromAllAnslutningar(logiskAdress)"
            ng-repeat="logiskAdress in nyaLogiskaAdresser = (producentbestallning.producentanslutningar | intersection:'nyaLogiskaAdresser')">
          </logisk-adress-alert>
          <p ng-hide="nyaLogiskaAdresser.length">
            <em translate="order.producent.logiska_adresser_selections_panel.selection.new.none"></em>
          </p>
          <label translate="order.producent.logiska_adresser_selections_panel.selection.previous.label"></label>
          <logisk-adress-alert
            logisk-adress="logiskAdress"
            type="info"
            close="removeLogiskAdressFromAllAnslutningar(logiskAdress)"
            ng-repeat="logiskAdress in befintligaLogiskaAdresserAfterFilter = ((producentbestallning.producentanslutningar | intersection:'befintligaLogiskaAdresser') | notIn:(producentbestallning.producentanslutningar | intersection:'borttagnaLogiskaAdresser'):'hsaId')">
          </logisk-adress-alert>
          <p ng-hide="befintligaLogiskaAdresserAfterFilter.length">
            <em translate="order.producent.logiska_adresser_selections_panel.selection.previous.all_removed"></em>
          </p>
          <label ng-show="(producentbestallning.producentanslutningar | intersection:'borttagnaLogiskaAdresser').length" translate="order.producent.logiska_adresser_selections_panel.selection.deselected_previous.label"></label>
          <logisk-adress-alert
            logisk-adress="logiskAdress"
            type="danger"
            close="addLogiskAdressToAllAnslutningar(logiskAdress)"
            ng-repeat="logiskAdress in borttagnaLogiskaAdresser = (producentbestallning.producentanslutningar | intersection:'borttagnaLogiskaAdresser')">
          </logisk-adress-alert>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / samma logiska adresser panel -->
<!-- enskilda tjänstekontrakt panel(er) -->
<div class="panel panel-primary"
     ng-show="producentbestallning.tjanstekomponent && producentbestallning.producentanslutningar.length"
     ng-repeat="anslutning in producentbestallning.producentanslutningar | orderBy:'tjanstekontraktNamnrymd' | orderBy:'_namn'">
  <div class="panel-heading">
    <h3 class="panel-title" ng-show="linkLogicalAddressChoice === 'sameForAllAnslutningar'">{{'order.producent.anslutning_config_panel.title.unified' | translate}} {{anslutning._namn}} {{anslutning.tjanstekontraktMajorVersion}}.{{anslutning.tjanstekontraktMinorVersion}} ({{anslutning._tjanstedoman}})</h3>
    <h3 class="panel-title" ng-show="linkLogicalAddressChoice === 'individualPerAnslutning'">{{'order.producent.anslutning_config_panel.title.individual' | translate}} {{anslutning._namn}} {{anslutning.tjanstekontraktMajorVersion}}.{{anslutning.tjanstekontraktMinorVersion}} ({{anslutning._tjanstedoman}})</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <form name="serviceContractForm">
          <div class="col-md-3">
            <label for="rivtaVersion" translate="order.producent.anslutning_config_panel.rivta_version.label"></label>
            <i class="fa fa-info-circle" popover="{{'order.producent.anslutning_config_panel.rivta_version.info' | translate}}" popover-trigger="mouseenter" popover-placement="right"></i>
            <select id="rivtaVersion" class="form-control" ng-model="anslutning.rivtaProfil"
                    ng-options="rivProfile as rivProfile for rivProfile in rivProfiles | orderBy:'toString()':true"
                    ng-init="anslutning.rivtaProfil = (anslutning.rivtaProfil ? anslutning.rivtaProfil : (rivProfiles | orderBy:'toString()':true)[0])"></select>
          </div>
          <div class="form-group" show-errors global-validation>
            <div class="col-md-9">
              <label class="control-label" for="urlInput" translate="order.producent.anslutning_config_panel.url.label"></label>
              <i class="fa fa-info-circle" popover="{{'order.producent.anslutning_config_panel.url.info' | translate}}" popover-trigger="mouseenter" popover-placement="right"></i>
              <input type="url" class="form-control" id="urlInput" name="url" ng-model="anslutning.url" placeholder="skriv in url" validity-bind-fix required ng-init="anslutning.url = !anslutning.url ? 'https://' : anslutning.url">
              <span class="help-block hide-no-error" ng-if="serviceContractForm.url.$error.required" translate="order.producent.anslutning_config_panel.url.error.required"></span>
              <span class="help-block hide-no-error" ng-if="serviceContractForm.url.$error.url" translate="order.producent.anslutning_config_panel.url.error.url"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div ng-show="linkLogicalAddressChoice === 'individualPerAnslutning'" class="row top25">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="row">
            <div class="form-group">
              <label translate="order.producent.logiska_adresser_selections_panel.search.label"></label>
              <input type="text" ng-model="this.selectedLogicalAddress" ng-init="this.selectedLogicalAddress = ''"
                     type-wait-ms="200" typeahead-template-url="templates/typeahead-logisk-adress.html"
                     typeahead-editable="false"
                     typeahead="logiskAdress as (logiskAdress.namn + ' - ' + logiskAdress.hsaId) for logiskAdress in getFilteredLogiskaAdresser($viewValue)"
                     typeahead-on-select="this.disableFirst = !canAddLogiskAdressToAnslutning($item, anslutning)"
                     class="form-control">
            </div>
          </div>

          <div class="row">
            <label translate="order.producent.logiska_adresser_selections_panel.add.label"></label>
            <div class="form-group">
              <input ng-model="newLogicalAddress.hsaId" type="text" class="form-control" id="newLogicalAddress_HSAID_{{$index}}" ng-change="this.disableSecond = !canAddLogiskAdressToAnslutning(newLogicalAddress, anslutning)"
                     placeholder="{{'order.producent.logiska_adresser_selections_panel.add.placeholder.hsaId' | translate}}">
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <input ng-model="newLogicalAddress.namn" type="text" class="form-control" id="newLogicalAddress_Name_{{$index}}"
                     placeholder="{{'order.producent.logiska_adresser_selections_panel.add.placeholder.namn' | translate}}">
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row">
            <div class="centered-content top25">
              <button type="button" class="btn btn-primary" ng-disabled="this.disableFirst" ng-click="addLogiskAdressToAnslutning(this.selectedLogicalAddress, anslutning); this.selectedLogicalAddress = '';">
                <span class="glyphicon glyphicon-forward" aria-hidden="true" ng-show="!this.disableFirst"></span>
                <span ng-show="this.disableFirst" translate="order.producent.logiska_adresser_selections_panel.add.disabled_button"></span>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="centered-content top45">
              <button type="button" class="btn btn-primary" ng-disabled="this.disableSecond" ng-click="addLogiskAdressToAnslutning(newLogicalAddress, anslutning); newLogicalAddress = {};">
                <span class="glyphicon glyphicon-forward" aria-hidden="true" ng-show="!this.disableSecond"></span>
                <span ng-show="this.disableSecond" translate="order.producent.logiska_adresser_selections_panel.add.disabled_button"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group col-md-5" ng-if="!anslutning._anslutetForProducent">
          <label translate="order.producent.logiska_adresser_selections_panel.selection.current.label"></label>
          <logisk-adress-alert
            logisk-adress="logiskAdress"
            type="success"
            close="removeLogiskAdressFromAnslutning(logiskAdress, anslutning)"
            ng-repeat="logiskAdress in anslutning.nyaLogiskaAdresser">
          </logisk-adress-alert>
          <p ng-hide="anslutning.nyaLogiskaAdresser.length">
            <em translate="order.producent.logiska_adresser_selections_panel.selection.current.none"></em>
          </p>
        </div>
        <div class="form-group col-md-5" ng-if="anslutning._anslutetForProducent">
          <label translate="order.producent.logiska_adresser_selections_panel.selection.new.label"></label>
          <logisk-adress-alert
            logisk-adress="logiskAdress"
            type="success"
            close="removeLogiskAdressFromAnslutning(logiskAdress, anslutning)"
            ng-repeat="logiskAdress in anslutning.nyaLogiskaAdresser">
          </logisk-adress-alert>
          <p ng-hide="anslutning.nyaLogiskaAdresser.length">
            <em translate="order.producent.logiska_adresser_selections_panel.selection.new.none"></em>
          </p>
          <label translate="order.producent.logiska_adresser_selections_panel.selection.previous.label"></label>
          <logisk-adress-alert
            logisk-adress="logiskAdress"
            type="info"
            close="removeLogiskAdressFromAnslutning(logiskAdress, anslutning)"
            ng-repeat="logiskAdress in befintligaLogiskaAdresserAfterFilter = (anslutning.befintligaLogiskaAdresser | notIn:anslutning.borttagnaLogiskaAdresser:'hsaId')">
          </logisk-adress-alert>
          <p ng-show="!befintligaLogiskaAdresserAfterFilter.length">
            <em ng-hide="!anslutning.borttagnaLogiskaAdresser.length" translate="order.producent.logiska_adresser_selections_panel.selection.previous.all_removed"></em>
            <em ng-show="!anslutning.borttagnaLogiskaAdresser.length" translate="order.producent.logiska_adresser_selections_panel.selection.previous.none"></em>
          </p>
          <label ng-show="anslutning.borttagnaLogiskaAdresser.length" translate="order.producent.logiska_adresser_selections_panel.selection.deselected_previous.label"></label>
          <logisk-adress-alert
            logisk-adress="logiskAdress"
            type="danger"
            close="addLogiskAdressToAnslutning(logiskAdress, anslutning);"
            ng-repeat="logiskAdress in anslutning.borttagnaLogiskaAdresser">
          </logisk-adress-alert>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- / enskilda tjänstekontrakt panel(er) -->
<!-- anropsbehörighet panel -->
<div class="panel panel-primary" ng-show="producentbestallning.tjanstekomponent && producentbestallning.producentanslutningar.length">
  <div class="panel-heading">
    <h3 class="panel-title" translate="order.producent.anropsbehorighet_panel.title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p translate="order.producent.anropsbehorighet_panel.p"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="radio">
          <label>
            <input ng-model="callPermissionInSeparateOrder" ng-value="true" type="radio" name="callPermissionRadios"
                   id="callPermissionRadios1" ng-init="callPermissionInSeparateOrder=true">
            {{'order.producent.anropsbehorighet_panel.choice.label.call_permission_separate_order' | translate}}
          </label>
        </div>
        <div class="radio">
          <label>
            <input ng-model="callPermissionInSeparateOrder" ng-value="false" type="radio" name="callPermissionRadios" id="callPermissionRadios2">
            {{'order.producent.anropsbehorighet_panel.choice.label.call_permission_this_order' | translate}}
          </label>
        </div>
      </div>
    </div>
    <div class="row top25" ng-show="!callPermissionInSeparateOrder">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="row">
            <div class="form-group">
              <label translate="order.producent.anropsbehorighet_panel.konsument_search.label"></label>
              <input type="text" placeholder="{{'order.producent.anropsbehorighet_panel.konsument_search.placeholder' | translate}}" ng-init="selectedTjanstekonsument.selected = '';"
                     ng-model="selectedTjanstekonsument.selected"
                     typeahead-wait-ms="200" typeahead-template-url="templates/typeahead-tjanstekomponent.html"
                     typeahead-editable="false"
                     typeahead="tjanstekomponent as (tjanstekomponent.beskrivning + ' - ' + tjanstekomponent.hsaId) for tjanstekomponent in getFilteredTjanstekomponenter($viewValue, producentbestallning.tjanstekomponent)"
                     class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <div class="row">
            <div class="form-group top25">
              <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="addTjanstekonsumentToOrder(selectedTjanstekonsument.selected); selectedTjanstekonsument.selected = '';">
                  <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-md-5">
          <label translate="order.producent.anropsbehorighet_panel.selected_konsumenter.label"></label>
          <div class="alert alert-dismissable alert-success logical-address new-logical-address" ng-repeat="konsumentbestallning in konsumentbestallningar = producentbestallning.konsumentbestallningar">
            <button type="button" class="close" ng-click="removeTjanstekonsumentFromOrder(konsumentbestallning.tjanstekomponent)">×</button>
            <p>{{konsumentbestallning.tjanstekomponent.beskrivning}}</p>
            <p> {{konsumentbestallning.tjanstekomponent.hsaId}}</p>
          </div>
          <p ng-hide="konsumentbestallningar.length">
            <em translate="order.producent.anropsbehorighet_panel.selected_konsumenter.none"></em>
          </p>
          <p class="top25" ng-show="konsumentbestallningar.length" translate="order.producent.anropsbehorighet_panel.selected_konsumenter.selected_info"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / anropsbehörighet panel -->
<!-- övrigt panel -->
<div class="panel panel-primary" ng-show="producentbestallning.tjanstekomponent && producentbestallning.producentanslutningar.length">
  <div class="panel-heading">
    <h3 class="panel-title" translate="order.producent.other_panel.title"></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="form-group">
            <label for="ovrigInformation" translate="order.producent.other_panel.ovrig_information.label"></label>
              <textarea ng-model="producentbestallning.otherInfo" id="ovrigInformation" class="form-control"
                        cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / övrigt panel -->
<!-- beställare panel -->
<div class="panel panel-primary" ng-show="producentbestallning.tjanstekomponent && producentbestallning.producentanslutningar.length">
  <div class="panel-heading">
    <h3 class="panel-title" translate="order.producent.bestallare_panel.title"></h3>
  </div>
  <div class="panel-body">
    <form name="bestallareForm" role="form">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="form-group" show-errors global-validation>
              <label class=" control-label" for="bestallareNamnInput" translate="order.producent.bestallare_panel.namn.label"></label>
              <input ng-model="producentbestallning.bestallare.namn"
                     type="text" class="form-control" id="bestallareNamnInput" name="bestallareNamn"
                     required>
              <span class="help-block hide-no-error" ng-if="bestallareForm.bestallareNamn.$error.required" translate="order.producent.bestallare_panel.namn.error.required"></span>
            </div>
          </div>
          <div class="row">
            <div class="form-group" show-errors global-validation>
              <label for="bestallareEmailInput" class="control-label" translate="order.producent.bestallare_panel.email.label"></label>
              <input ng-model="producentbestallning.bestallare.epost" type="email" class="form-control"
                     id="bestallareEmailInput" name="bestallareMail" required>
              <span class="help-block hide-no-error" ng-if="bestallareForm.bestallareMail.$error.required" translate="order.producent.bestallare_panel.email.error.required"> måste vara ifyllt</span>
              <span class="help-block hide-no-error" ng-if="bestallareForm.bestallareMail.$error.email" translate="order.producent.bestallare_panel.email.error.email"></span>
            </div>
          </div>
          <div class="row">
            <div class="form-group" show-errors global-validation>
              <label for="bestallareTelefonInput" class="control-label" translate="order.producent.bestallare_panel.telefon.label"></label>
              <input ng-model="producentbestallning.bestallare.telefon" type="text" class="form-control"
                     id="bestallareTelefonInput" name="bestallareTelefon" placeholder="" required>
              <span class="help-block hide-no-error" ng-if="bestallareForm.bestallareTelefon.$error.required" translate="order.producent.bestallare_panel.telefon.error.required"></span>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="bestallareHsaIdInput" class="control-label" translate="order.producent.bestallare_panel.hsaId.label"></label>
              <input ng-model="producentbestallning.bestallare.hsaId" type="text" class="form-control"
                     id="bestallareHsaIdInput" name="bestallareHsaId" placeholder="" readonly>
            </div>
          </div>
          <div class="row">
            <div class="form-group" show-errors global-validation>
              <label for="bestallareRoll" class="control-label" translate="order.producent.bestallare_panel.roll.label"></label>
              <input ng-model="producentbestallning.bestallareRoll" type="text" class="form-control"
                     id="bestallareRoll" name="bestallareRoll" placeholder="" required>
              <span class="help-block hide-no-error" ng-if="bestallareForm.bestallareRoll.$error.required" translate="order.producent.bestallare_panel.roll.error.required"></span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- / beställare panel -->
<div class="row" ng-show="!orderValid && producentbestallning.tjanstekomponent && producentbestallning.producentanslutningar.length">
  <div class="col-md-4 col-md-offset-8">
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{'order.producent.submit.order_error_msg' | translate}}
    </div>
  </div>
</div>
<div class="row" ng-show="producentbestallning.tjanstekomponent && producentbestallning.producentanslutningar.length">
  <div class="col-md-4 col-md-offset-8">
    <button type="button" class="btn btn-primary btn-lg btn-wrap pull-right" ng-click="submitProducentbestallning()" translate="order.producent.submit.button"></button>
  </div>
</div>
