<div class="container-fluid">
  <div class="page-header"></div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Tack för din beställning</h3>
      </div>
      <div class="panel-body">
        <p>
          Beställningen kommer nu skickas till SLL IT, Servicedesk för vidare hantering.
          Servicedesk återkopplar till dig via mail då de mottagit ärendet.
          Efter godkännande kommer tjänsteplattformsförvaltningen bearbeta din beställning och när den är klar får du återkoppling att ärendet är stängt.
        </p>
        <p>
          Du måste även öppna brandvägg för tjänsteplattformen och detta är bra att förbereda så snart som möjligt.
          På <a href="https://skl-tp.atlassian.net/wiki/pages/viewpage.action?pageId=14090494" target="_blank">FAQ-sidorna</a> hittar du bland annat:
        <ul>
        <li>
          Information kring de olika miljöerna;
        </li>
        <li>
          ip-adresser, portar m.m.
        </li>
        <li>
          Information kring certifikat
        </li>
        <li>
          Information om loggning
        </li>
        <li>
          Felkoder
        </li>
      </ul>
        </p>
      </div>
    </div>
</div>
