<div class="row">
  <div class="col-md-12">
    <h1 style="font-size: 5em;text-align: center;">Beställningsstöd för SLL:s regionala tjänsteplattform</h1>
  </div>
</div>
<div class="row" style="margin-top: 100px">
  <div class="col-md-8 col-md-offset-2">
    <p class="lead">
      I menyval Anslut till tjänstekontrakt ansluter du en tjänsteproducent till ett tjänstekontrakt som är installerat i Regional tjänsteplattform.
    </p>
    <p class="lead">
      I menyval Hantera anslutningar till tjänstekontrakt begär du ytterligare anslutning/ar och/eller tar bort befintlig/a anslutning/ar till tjänstekontrakt för vårdgivare/vårdenhet eller källsystem.
    </p>
    <p class="lead">
      I menyval Uppdatera kontaktinformation uppdaterar du den kontaktinformation som gäller för vald tjänsteproducent/tjänstekonsument.
    </p>
  </div>
</div>
