<div class="row">
  <div class="col-md-12">
    <h1 style="font-size: 5em;text-align: center;">Beställningsstöd för SLL:s regionala tjänsteplattform</h1>
  </div>
</div>
<div class="row" style="margin-top: 100px">
  <div class="col-md-8 col-md-offset-2">
    <p class="lead">
      I menyval Administrera anslutning beställer du anslutning av en tjänsteproducent till tjänstekontrakt som är installerat i regional tjänsteplattform, anger logisk/a adress/er samt har möjlighet att beställa anropsbehörighet (etablera samverkan) mellan producent och redan ansluten konsument.
    </p>
    <p class="lead">
      I menyval Administrera systeminformation registrerar du information om instans av system samt information om kontaktpersoner för instansen.
    </p>
  </div>
</div>
